[2016-10-31 05:21] kdenz opened #5 "Add pull down to refresh as well?"
Great library that actually works! I realized no other React.js infinite scroll components support both pull down to refresh and pull up to load more, if this can be implemented as well, it could be make this library a killer!

[2016-10-31 05:32] ankeetmaini commented on #5
That sounds really fantastic! I can take it up next weekend. 😀

[2016-11-02 02:49] sshadmand opened #6 "Infinite scroll doesn't trigger when scrolling in a overflow scroll element"
For my view I need to use a element/module to show my list of results using the overflow-y:scroll style. However, scrolling to the bottom of the element does not trigger a load event. Any suggestions?

[2016-11-10 19:28] ankeetmaini commented on #6
@sshadmand ideally you shouldn't give `overflow-y: scroll` to the parent container. This `InfiniteScroll` component takes a prop `height` and makes it scrollable automatically after that height. So you should be good to go!

[code]

If you still can't get it to work, can you share a JSBin where I can take a look?

[2016-11-10 20:05] ankeetmaini commented on #6
Closing this issue for now, do let me know if it still doesn't work for you. You can even refer the demo file  in the directory `demos/height.js`

[2016-11-10 20:05] #6 closed

[2017-02-05 14:41] kdenz opened #7 "window scrolling doesn't work"
Hi! why is window scrolling not working for both desktop and mobile browsers? Thank you!

[2017-02-05 14:46] ankeetmaini commented on #7
Can you give an example? Did you checkout the usage in demos folder?

On Sun, Feb 5, 2017, 8:11 PM kdenz <notifications@github.com> wrote:

[2017-02-05 14:55] kdenz commented on #7
@ankeetmaini yes I've ran the window scrolling demo in demos folder, and it doesn't scroll at all. Only fixed size one scrolls well. On mobile it's the same, when `height` is not provided, it doesn't scroll at all.

Also, the mobile browsers (Chrome, Safari) doesn't auto-hide address bar and bottom navigation bar when using  fixed height scrolling content, is there a way to overcome it?

[2017-02-06 08:52] ankeetmaini commented on #7
@kdenz I think it shouldn't trigger next call if there's no scroll I think. As I can't think of a trigger which should call.

A solution would be to load enough items so that a scroll appears. And then before user reaches bottom, next function call would be made to fetch data.

Let me know if you still feel something should be done. Meanwhile I'll update the examples to load more elements so that

[2017-02-06 08:52] #7 closed

[2017-02-17 18:31] nealoke commented on #5
@ankeetmaini any news on this? :p

[2017-02-17 18:41] ankeetmaini commented on #5
@nealoke Sorry, picking this up tonight!

[2017-02-17 18:49] nealoke commented on #5
@ankeetmaini looking forward to it ;) 👍

[2017-02-18 04:47] ankeetmaini commented on #5
@nealoke do let me know if you like the API in #8

[2017-02-18 05:10] kdenz commented on #5
@ankeetmaini Wow looks great! This kind of simplicity really outshines a lot of infinite scroll components out there. Oh what are pullDownToRefreshContent and releaseToRefreshContent for?

I suggest adding this to https://github.com/enaqx/awesome-react and https://github.com/brillout/awesome-react-components , to get more public exposure after this commit is merged.

[2017-02-19 15:57] nealoke commented on #5
@ankeetmaini looking good! :) will try to implement!

[2017-02-19 16:54] ankeetmaini commented on #5
@kdenz thank you so so much! Words like this make me feel so happy!

`pullDownToRefreshContent` and `releaseToRefreshContent` can be passed as props as children to show when you pull down. See here the default props https://github.com/ankeetmaini/react-infinite-scroll-component/pull/8/files#diff-2018087f584c4398b5c3a23fc0e5f9dbR168

I just hope I can finish this soon! 😄

[2017-02-21 11:38] #5 closed

[2017-02-21 12:00] ankeetmaini commented on #5
@nealoke @kdenz I've released this with minor version. 2.1.0! Cheers :)

[2017-02-23 16:35] kdenz commented on #5
@ankeetmaini You're more than welcome! I genuinely think this library deserves a lot more stars. Perhaps having a demo site online hosted on Github pages or Netlify would also help?

[2017-02-24 13:12] nealoke commented on #5
@kdenz @ankeetmaini definitely think that a demo page with some simple docs will help! Great effort!

[2017-02-24 16:23] kdenz opened #9 "Infinite-scroll example no height version doesn't work on 4k monitor~"
![image](https://cloud.githubusercontent.com/assets/12795428/23311302/92db591e-faf0-11e6-9a53-58fad3b10b99.png)

There're not enough elements for the scrolling to be workable~

[2017-02-25 07:32] ankeetmaini commented on #9
Oops!

[2017-02-25 09:28] ankeetmaini commented on #9
Fixed! Thanks again @kdenz :)

[2017-02-25 09:28] #9 closed

[2017-03-01 11:10] mrTangYun opened #10 "How can i use this component on mobile devices"
How can i use this component on mobile devices? When I use this component I can't scroll any element on the phone browsers

[2017-03-01 12:09] ankeetmaini commented on #10
Hey, it should work seamlessly on mobile devices too! If not this is a bug, I'll check this today!

[2017-03-02 06:58] ankeetmaini opened #11 "ontouchstart on mobile devices should be executed only if the user is at the top"
This causes to refresh the screen even if user is at the bottom and tries to scroll up. Happens only if pullDownToRefresh is enabled

[2017-03-03 07:09] #11 closed

[2017-03-03 07:25] ankeetmaini commented on #10
Hey just a quick update on the issue. I found out some problems while testing on the mobile devices. viewport was missing in the demo page. I tested the demo page on Android chrome browser and it works.

Can you also check now? I'll test this on iOS device and update this issue

[2017-03-03 16:57] mrTangYun commented on #10
I test the demo page:
http://ankeetmaini.github.io/react-infinite-scroll-component/ on the ios
(safari and chrome), it's not working yet。
the 'refreshFunction' is work fine, but i can't scroll the page down to
show more data。

2017-03-03 15:25 GMT+08:00 Ankeet Maini <notifications@github.com>:

[2017-03-05 21:37] pinturic commented on #10
I am using the component on mobile in a cordova project and I am not having any issue

[2017-03-07 06:34] ankeetmaini commented on #10
Need help to debug the issue.

[2017-03-07 06:39] mrTangYun commented on #10
Hey, what' s can i do for you ?

2017-03-07 14:34 GMT+08:00 Ankeet Maini <notifications@github.com>:

[2017-03-07 06:42] ankeetmaini commented on #10
Can you debug in the device where it doesn't scroll, I tried to debug using chrome devtools mobile simulator, as well as on my Android Chrome browser. It scrolls.

Basically anything which tracks that issue down 😄

[2017-03-07 07:02] mrTangYun commented on #10
My pleasure， I debug using chrome devtools mobile simulator,  it's work too.
but on my Android device(Nexus 5 Chrome browser), I record a video
http://youtu.be/gDiSMx3NxWk.

2017-03-07 14:42 GMT+08:00 Ankeet Maini <notifications@github.com>:

[2017-03-07 07:07] ankeetmaini commented on #10
Oh shit, it's real bad on your phone! Let me debug, why is that even happening, it shouldn't :(

[2017-03-07 07:19] mrTangYun commented on #10
:)  that's Android.  and this' s Iphone https://youtu.be/N5F5KYVzWGk
<https://wx.qq.com/cgi-bin/mmwebwx-bin/webwxcheckurl?requrl=https%3A%2F%2Fyoutu.be%2FN5F5KYVzWGk&skey=%40crypt_93b593b0_d4579d133bdee955b10c23e7c9c77646&deviceid=e277253728374709&pass_ticket=r4zh0KuM0Wa2Ak8pbS5B7LS6j6JwI%252BAdQklPgMLCV3lj7eA%252B8Te09pZNyFlz%252BBiU&opcode=2&scene=1&username=@c67d4ba171241d900e8c4f41f4969774>.
t

[2017-03-09 16:50] #10 closed

[2017-03-09 16:58] ankeetmaini commented on #10
@mrTangYun Hey, I've fixed it, can you try this again. Thanks a lot!

[2017-03-10 02:12] mrTangYun commented on #10
Yes, it' s work, you fixed it. Congratulations and Thank you

[2017-04-15 11:51] nealoke opened #15 "Question about pulldown"
I really like the pull-down functionality a lot, however when webapps are added to a home screen and you pull down to refresh inside the react element you also get the circle of the webbrowser (see picture below).

![screenshot_20170415-134348](https://cloud.githubusercontent.com/assets/17417414/25063358/92e6b1a6-21e2-11e7-9fa5-fa2055f14f94.png)

[Suggested workarounds (not tested)](http://stackov

[2017-04-15 12:17] ankeetmaini commented on #15
Actually, I was trying to solve it in my component, but then thought it to be application's business avoiding browser capabilities and I shouldn't come in the way. I think only Chrome does it.

But yes, this would be a great addition to the docs. Thanks @nealoke. I'll update it :)

[2017-04-22 06:24] jcsistemas2001 opened #16 "Large screen"
Hi,

I just integrated the component in my application and seems work perfect.

When the screen is large enough to show all the items (for example, 10 items), there is not scroll bar. At that moment, the component don't work.

Please, may I know your suggestion?

Thanks!

[2017-04-22 06:34] ankeetmaini commented on #16
Hi, the easiest solution would be to fetch enough items so that scroll
appears. The way this works is by attaching an event listener onscroll. And
if there's no scroll it wouldn't know when to trigger the next call!

So instead of say 10 items can you show 20?

On Sat, Apr 22, 2017, 11:54 AM jcsistemas2001 <notifications@github.com>
wrote:

[2017-04-22 09:29] jcsistemas2001 commented on #16
Hi ankeetmaini, Thanks for your quick reply and suggestion. I applied 20 items for now.
I was thinking a way to calculate this number according with client screen size. This will be on my side and is not related with the scroll.

[2017-04-24 15:06] #16 closed

[2017-05-04 14:33] emilyrohrbough opened #17 "React v15.5.0 Throws Deprecation Warnings"
https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

[2017-05-06 22:09] juank11memphis commented on #17
Having the same problem here...

[2017-05-07 07:31] ankeetmaini commented on #17
Thank you so much for raising this issue. I'm out this week. Will fix this
once I'm back :-)

On Sun, May 7, 2017, 1:09 AM Juan Morales <notifications@github.com> wrote:

[2017-05-16 15:29] bogdan8 opened #18 "Expected a component class, got [object Object]"
**_I do as shown in the example, but says it wants to component was_**
[code]
![img](http://i053.radikal.ru/1705/f1/25d33e49ea0f.jpg)

**# I copied this example all exactly the same error**

https://github.com/ankeetmaini/react-infinite-scroll-component/blob/master/demos/height.js

[2017-05-16 15:45] #18 closed

[2017-05-16 15:48] ankeetmaini commented on #18
Could you figure this out? Is it sorted now?

[2017-05-16 15:52] bogdan8 commented on #18
@ankeetmaini sorry I thought this module for react-native)

[2017-05-16 15:56] ankeetmaini commented on #18
No it should work just fine. I've not tested it. But the error seems like you're passing an object instead of a Component. Could you try storing the divs in a state variable and then pass just the variable.

[code]

[2017-05-16 16:01] bogdan8 commented on #18
@ankeetmaini **so if you write it as a bug**
[code]

[2017-05-16 16:03] ankeetmaini commented on #18
Yes, this way, does this work? Or still the same error?

[2017-05-16 16:04] bogdan8 commented on #18
@ankeetmaini I get the same error `Expected a component class, got [object Object]
`

[2017-05-16 16:05] bogdan8 commented on #18
@ankeetmaini **I even tried to copy the example** https://github.com/ankeetmaini/react-infinite-scroll-component/blob/master/demos/height.js **and still this error**

[2017-05-16 16:09] ankeetmaini commented on #18
I'll check this and update!

On Tue, May 16, 2017, 9:35 PM Bogdan <notifications@github.com> wrote:

[2017-05-16 16:11] bogdan8 commented on #18
@ankeetmaini if i write well
[code]
I get a `false`

[2017-05-18 07:59] #17 closed

[2017-05-23 15:36] himynameisdave commented on #15
Pulldown doesn't work/show up in the demo for me!

Cool component, will use whenever I need to implement infinite scrolling 👍

[2017-05-23 19:23] nealoke commented on #15
@himynameisdave any info on your case? (eg. device / browser / version / ...)

[2017-05-24 14:43] himynameisdave commented on #15
Sure. I haven't tested on a real mobile device, but any time I try this out in the browser mobile view, pull to refresh doesn't seem to work:

![screen recording 2017-05-24 at 07 41 am](https://cloud.githubusercontent.com/assets/4298089/26409143/9178828c-4054-11e7-80a1-976116dc9729.gif)

This is on Chrome 58.

[2017-05-24 15:33] ankeetmaini commented on #15
@himynameisdave thanks for checking this out!

The Pull down will work if you press your mouse down, only scroll will not trigger it. It's like you've to drag down by keeping the mouse primary button pressed down.

Let me know if you still can't see it, I'll put up a gif 😄

[2017-05-24 17:24] himynameisdave commented on #15
@ankeetmaini totally works 🚀🚀🚀

Makes sense to because that's how you'd do it on mobile, but maybe it's worth exploring a scroll-only mode for desktop. Cheers!

[2017-05-24 17:32] MatthewCallis opened #19 "Hiding endMessage is not intuitive."
I just wanted to hide the endMessage but doing so it not intuitive, setting it to `''`, `false` or `null` just shows the default, you have to set it to `' '` to actually hide the message when you don't want to show anything (including the cute default).

[2017-05-24 20:04] nealoke commented on #15
@himynameisdave actually not a bad idea to have a scroll-only mode for desktop ;)

[2017-05-26 18:57] nealoke opened #20 "Nesting element (div) in endMessage throws warning"
Currently implementing this component however, I don't think it makes sense that the `endMessage` prop only takes text. Should be able to just pass component without any styling by this component.

When I pass it a div with some content it throws the following error:

`Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>. See ReviewList > InfiniteScroll > p > ... > InfoBox

[2017-05-27 17:09] nealoke opened #21 "The `next` method should not be called again when the loader is still being shown"
Curerntly when I reach the bottom in the component it triggers the `next` method which is perfect. However while the loader is still being shown (aka the data is not yet finished fetching), the `next` method triggers again.

I believe that the `next` method should have a simple state key which could be `isWaiting`. This would be true if the `Loader` is being shown.

[2017-05-27 18:42] nealoke opened #22 "Loader remains visible with endMessage?"
The `Loader` prop remains visible even after passing false to `hasMore` and injecting new `children`.

Below you can see that the `InfiniteScroll` component receives a new `hasMore` prop and new children (aka `items in list`). This happens only in 1 of my cases though. Currently investigating!

![bug better](https://cloud.githubusercontent.com/assets/17417414/26523674/b4a08d70-431c-11e7-8680-0d3e4

[2017-05-27 18:43] nealoke commented on #21
This was an issue on my end

[2017-05-27 18:43] #21 closed

[2017-05-27 19:00] nealoke commented on #22
Currently tried a lot of cases and this one keeps triggering the behavior. As you can see I first have `7 children` which is the maximum possible (aka `hasMore = false`). Then after an event that changes so the list is now greater then `7 chilren`. It still triggers the `next` function correctly however for some reason the `Loader` prop remains visible even when passing `false` to the `hasMore` pr

[2017-06-01 20:47] mrdale1958 opened #23 "Want to hide scroll bars"
I'm using your package on a large touchscreen and I'd rather not see scroll bars but I don't see a way to override your overflow: auto style

[2017-06-09 07:56] mhd999 commented on #23
There is Style props allow you to over ride the default css.

`style={{ overflowY: 'hidden' }}`

[2017-06-09 13:02] mrdale1958 opened #24 "Bidirectional infinity"
This component has been an enormous help but (I fear) it has a fatal flaw for part of my use case.

I have a list of ~100k alphabetized names in my large touchscreen table application.  While the enormous task scrolling through it is actually a key part of the interaction, sometimes the user has other needs and I've given them a set of letter buttons to jump around in the list.  The approach of ju

[2017-06-15 06:24] yarnball opened #26 "Usage example for static data"
Hi,

I would like to use this on a large list of static/offline data. However, I have been unable to implement it. Basically, I want it to only get say 100 results from the map at `this.state.demoData`. Then once I reach the refresh point, it should get 100 more results.

I am wanting to use infinite scroll to improve performance (as the list will be long, and have a lot of data in it such as imag

[2017-06-15 18:11] ankeetmaini commented on #19
Thanks for the issue. This is being addressed in #25. I'll release a version soon!

[2017-06-15 18:12] ankeetmaini commented on #20
Hi @nealoke yep I know this is an issue. We're solving it in #25!

[2017-06-15 18:14] ankeetmaini commented on #22
I'll try this out!

[2017-06-15 18:16] ankeetmaini commented on #23
Hi @mhd999 as far as I can think, removing scroll will not trigger new fetches of the data. Which scrollbar are you referring too?

[2017-06-16 03:14] #20 closed

[2017-06-16 03:15] ankeetmaini commented on #20
Fixed this in v2.4.0!

[2017-06-16 03:16] ankeetmaini commented on #19
@MatthewCallis you can now remove the hack, v2.4.0 fixes this 😄

[2017-06-16 03:16] #19 closed

[2017-06-20 08:34] mhd999 commented on #23
My answer above is just about how to override default style, but i agree with no scroll bar no fetch will be triggered.

[2017-07-03 15:23] edgar-petrovskis opened #27 "How to add a custom class?"
Hi,

I would like to add some custom class instead "infinite-scroll-component". How can I do this?

Thanks

[2017-07-03 19:03] #23 closed

[2017-07-03 19:08] ankeetmaini commented on #27
As of now I don't take any prop to pass a prop for a custom className. You can always add rules for the class `infinite-scroll-component`, or pass a children wrapped in a div to which you can give a custom classname like

[code]

This way you can have all the scrollable content inside a parent with your class. Let me know if this works and if not, what use case are you solving for.

Thanks for che

[2017-07-04 08:36] edgar-petrovskis commented on #27
Thanks!
I just wanted to use custom class in case if the component will be updated and class will be changed.

[2017-07-04 08:36] #27 closed

[2017-07-05 14:47] ssageghi opened #28 "Scroll doesn't work fine"
Hi
I used your component and when I scroll down it worked fine once
but at the second time I should scroll up and down to perform loading data
and it doesn't work if I just scroll down

[2017-07-05 17:59] ankeetmaini commented on #28
Hi @ssageghi can you try this the component in the demo here? http://ankeetmaini.github.io/react-infinite-scroll-component/

It appears to be loading fine, could you check if your next function is called when the scroll is near the bottom. Can you checkout the examples from this location and see if you've used it the same way?
https://github.com/ankeetmaini/react-infinite-scroll-component/blob/mas

[2017-07-10 12:11] ssageghi commented on #28
I try the demo
next function doesn't call
and I use the same way

[2017-07-13 12:52] ankeetmaini commented on #28
can you show me your code?

[2017-07-24 09:15] ankeetmaini commented on #28
Closing this because of a lack of response. Hoping you figured out!

[2017-07-24 09:15] #28 closed

[2017-08-16 08:22] dhwrwmgwra opened #29 "How do i use it with Modals?"

[2017-09-12 17:04] szwork2013 opened #30 "Uncaught TypeError: Cannot read property 'style' of null"
get the error:
 Uncaught TypeError: Cannot read property 'style' of null,
It is this line from the source code of index.js:
  _this._infScroll.style.overflow = 'auto';

[2017-09-15 09:05] elysianaries opened #31 "Suggest, the height Param can accept a percent string"
height = { 300 } may be only use unit 'px' ， I mean  height = { 80% } , it will be helpful

[2017-09-16 14:27] ankeetmaini commented on #31
You can give `80%` in string. It accepts either a number or a string. I'm closing this issue. Please feel free to reopen if you encounter a problem. Thanks!

[2017-09-16 14:27] #31 closed

[2017-11-03 14:19] LanceMango commented on #30
I get the same error: In my case, I have a list of items and when I click on one item a "detailview" is loaded in the same wrapper. I think the problem is, that infinite-scroll looses context or has no context at all, so the _this is null and throws an error. Any idea?

[2017-11-09 07:45] squgeim opened #32 "Expose a prop to set callbacks for scroll event"
I need an ability to store the current scroll position of the list so that I can reset the scroll position when the component is rendered.

For a regular div, this could be done by storing the scroll position on the `scroll` event and restoring this in the component's `didMount`.

Could we expose a prop to register a callback that will be called at the end of `onScrollListener`? I don't think the

[2017-11-13 09:01] #32 closed

[2017-11-17 11:37] devlin-playlogix commented on #30
+1 Also get this error on navigation. Is there anything special I should be doing in unmounting?

[2017-11-17 12:08] jacqueswho commented on #30
it has to do with the refresh functionality. if you leave out the refresh option. its no longer a problem. for now just leave out pullDownToRefresh prop

[2017-11-17 19:09] ankeetmaini commented on #30
Sorry guys for not getting to this. I'll investigate it this weekend, if you can share a reproducible example, it would be great!

[2017-11-20 07:59] jacqueswho commented on #30
It happens when you leave the page with this component.

[2017-11-20 08:16] devlin-playlogix commented on #30
hi @ankeetmaini

Our implementation has:
[code]
This is inside a component fed all its properties and actions from its container.
The content is a map of tiles:
[code]
These have click handlers on them that fire a navigate action.

[code]

(This next bit is an assumption)
Is it related to the click handler firing a drag action and navigate action at the same time, and then causing some actions to

[2017-12-07 10:59] ankeetmaini opened #38 "Tests wanted"

[2017-12-07 11:22] ankeetmaini commented on #38
@debugpai can you outline the tech outline for tests for anyone who wants to take up the issue. I'm not up to date with tests. Thanks!

[2017-12-26 07:40] nero120 opened #39 "Set scrollable container?"
Hi @ankeetmaini, I'm using your component for a plugin I'm building and I can say that so far it's much better than most of the other React infinite scrollers I've tried so thank you!

My only issue is that the application that my plugin will be displayed in never scrolls on document.body, it uses a scrollable container div for displaying content inside. Because of this, if I don't use the `height

[2017-12-26 11:55] ankeetmaini commented on #39
Okay, I see. It seems possible. We can pass in a target which will default to document.body

I'll try to do this in a day or two. And PRs are always welcome!

[2017-12-26 14:04] nero120 commented on #39
Since it's Christmass... (https://github.com/ankeetmaini/react-infinite-scroll-component/pull/40) 😄

I haven't refactored any of the existing code, but you could set ancestorScroll to document.body by default if you think that would be better.

[2017-12-31 06:24] ankeetmaini commented on #39
Fixed with #40

[2017-12-31 06:24] #39 closed

[2018-01-02 13:37] AmauryLiet commented on #28
@ankeetmaini
I just spent some time facing the same issue:
It could be reproduced with a `refreshFunction` function being too fast (simply a setState with mocked data)
I "fixed" the issue by simulating network latence with a setTimeout(...).

By analysing the component state, it appeared that `state.actionTriggered` remains `true` until the user scrolls up again.

Hoping this gives you more insigh

[2018-01-09 17:38] justin-calleja opened #41 "Expose isElementAtBottom as a property?"
Hi,

I am developing with the dev tools open and "toggle device toolbar" on (to display the viewport as a mobile device. (Also, I'm using `scrollableTarget`).

With this setup, `next` is never firing. i.e. the following is always returning `false`:

[code]

Can you please confirm that this is an issue (and that I'm not using the component improperly)?

If you'd like the change, I can look into exp

[2018-01-09 18:06] justin-calleja commented on #41
Also, I would like this as a property because if I overwrite it with:

[code]

it's returning true when I want it to.

[2018-01-10 10:31] ankeetmaini commented on #41
Thanks, but I still feel the component should keep the logic of whether it's there at the bottom or not. If it's not firing next then there's a bug with this component. Can you share a codesandbox or something where I can debug this stuff?

[2018-01-12 08:14] ankeetmaini commented on #41
@kdepp thanks for looking into this. I just reverted the device pixel change and published a patch version `v3.0.2`. I've tried out examples at https://codesandbox.io/s/k90wzm7pnv, they're working.

@justin-calleja thanks for raising this up, please re-open this if it still doesn't work.

[2018-01-12 08:14] #41 closed

[2018-01-12 08:57] justin-calleja commented on #41
@ankeetmaini sorry for not responding. I'll try it out soon and confirm. Thanks.

[2018-01-12 09:37] ankeetmaini opened #44 "Remove examples from repository host them in codesandbox.io"
Keeping examples upto date is hard with no scripts setup etc.

Codesandbox is a great way to give users to play with the code and show live examples. There can be multiple examples showing all the aspects of the component.

[2018-01-12 13:05] samikroy opened #45 "Infinite Scroll targeting on a parent div does not load the details"
While targeiiing a outer div than the immendiate parent div for infinite scroll, function call happends for
next property but the items does not load in the UI.

Code Sample

<InfiniteScroll

                                    next={this._loaditems.bind(this) }
                                    hasMore={this.state.hasMoreItems}
                                    scrollableTarget= {this._return

[2018-01-12 13:46] ankeetmaini commented on #45
Can you share a reproduceable sample in codesandbox.io like this
https://codesandbox.io/s/k90wzm7pnv. It'll help me debug this quickly

On Fri, Jan 12, 2018, 6:35 PM Samik Roy <notifications@github.com> wrote:

[2018-01-20 08:34] ErricLu opened #46 "in index file “this.el.scrollTo(0, this.props.initialScrollY)” is not work in andriod webview"
I test in mobile chrome browser && our App webview find DOM element has no scrollTo methods, so suggest change "this.el.scrollTo(0, this.props.initialScrollY)" to "this.el.scrollTop = this.props.initialScrollY".

[2018-01-23 11:35] epifab opened #47 "does not load the first page if not scrolling down"
the `next` callback seems to be called only after a scroll down event. if the page isn't full and I cannot scroll down to the bottom (cause I already reached it), then the `loader` is displayed, but the `next` callback doesn't get called. this is obvious when you start the component with no children.

[2018-01-23 11:41] ankeetmaini commented on #47
Okay, I see. The `next` callback only get's triggered only on `scroll` events. Is it not possible to call the next function yourself on `componentDidMount` of your component?

[2018-01-23 11:44] ankeetmaini commented on #47
[code]

[2018-01-23 11:45] epifab commented on #47
It is a potential workaround, but that might cause the `next` function to be called twice in some cases where the scroll actually happened. I can find an hack to fix this, but I'd rather have this fixed in the library.

[2018-01-23 11:55] ankeetmaini commented on #47
Can you help me in giving a reduced example to showcase the problem? AFAIK the library has no way of calling next until the scroll happens and it reaches the bottom. Unless that happens I don't seem to have trigger which I could listen to.

The assumption is the userland code will make the call for the first fetch of data, and render it, and the height of the content is more than the innerHeight s

[2018-01-23 13:57] epifab commented on #47
- What if I want my component to lazily load the first page only when the user reaches it?
- What does make the first page so special that has to be treated in a different way from all the other pages? e.g., why should I call the same thing twice on component initialization and the `next` event? After all, they have many things in common, like the `loader` element to be displayed in the meantime,

[2018-01-24 20:44] AdityaParameshwara commented on #31
Hi,
The provided the percentage in strings. The scroll bar doesn't show up. However if I give just the number (which defaults to pixel), the scrollbar is visible

[2018-01-24 20:47] AdityaParameshwara opened #48 "Scrollbar does not appear with using % for height"
When I give the height in %, the scrollbar disappears

[2018-01-25 07:34] ankeetmaini commented on #48
% doesn't work reliably for height, try to give in `vh` or pixel. Let me know if it works? Please re-open if it doesn't.

[2018-01-25 07:34] #48 closed

[2018-01-25 07:35] ankeetmaini commented on #46
Okay, I'll look into this on the weekend. Thanks @ErricLu for opening this!

[2018-01-25 07:38] ankeetmaini commented on #45
Please re-open if your issue still persists.

[2018-01-25 07:38] #45 closed

[2018-01-25 13:50] AdityaParameshwara commented on #48
It worked with vh. But please try to make % work. That would be great!

[2018-01-30 19:03] ddeath opened #49 "2-way scroll"
I have a proposal for the new feature.
It would be nice if the component had an option to infinite scroll in both directions.
It would be useful on timelines where you start in the middle. For example when you want to show present, but also want to be able to scroll into the past or future.

[2018-02-05 01:38] stevearoonie commented on #47
I am also experiencing this problem. As I was searching for it I came across the same issue in another component: https://github.com/metafizzy/infinite-scroll/issues/227. I don't know if this is useful to you at all but they solved it by adding a prefill property. When this option is set to true and the document is smaller than the encompassing window, pages will continually be loaded until there

[2018-02-05 04:19] ankeetmaini commented on #47
Thanks so much. This helps definitely. I'll see how can I do this in this
component. :)

On Mon, 5 Feb 2018 at 07:08 stevearoonie <notifications@github.com> wrote:

[2018-02-14 05:32] harvinder-ss opened #50 "can I pass custom Style or Class to the outerDiv ?"
Hi,

 I am getting an issue as I need to pass width to the outer div . Is there any way to pass ?

Thanks.,

[2018-02-15 14:29] VladimirMilov commented on #45
@ankeetmaini, I have a problem with the scrollableTarget.
Here is a code snippet:
<div style={{ overflow: 'scroll' }} ref={c => (this.myDiv = c)}>
        <InfiniteScroll
          next={loadMore}
          hasMore
          loader={<h4>Loading...</h4>}
          scrollableTarget={this.myDiv}
          style={{ padding: '0.5em' }}

          {this.props.info.length === 0 && <p>There is no informat

[2018-02-15 14:45] ankeetmaini commented on #45
There's no need to pass scrollableTarget in your case. By default it will
add scroll on window, or if you give it a height it'll create a div of that
height and render your content.

On Thu, 15 Feb 2018 at 19:59 Vladimir Milov <notifications@github.com>
wrote:

[2018-02-15 14:46] ankeetmaini commented on #50
You can wrap the children in your own div.

Like

<InfiniteScroll {..all properties}>
<div> // your own div
// child items
</div>
</InfiniteScroll>

On Wed, 14 Feb 2018 at 11:02 harvinder-ss <notifications@github.com> wrote:

[2018-02-15 15:26] VladimirMilov commented on #45
The problem is that I am using display flex and I want my upper div to have overflow: scroll.
I can put some height with %, but it doesn't work. Also, i am not scrolling the window, just a div inside the document. Can you please see these lines and say what is wrong.
<div style={{ overflow: 'scroll' }} ref={c => (this.myDiv = c)}>
scrollableTarget={this.myDiv}

[2018-02-16 23:48] matteing commented on #22
Same issue here.

[2018-02-20 17:57] landon9720 commented on #49
A semi-related request is to also support **horizontal** infinite scroll.

[2018-03-28 08:17] 94younglau commented on #7
Download the repository and copy code from **demos/**,  the `next` func only trigger once.

[2018-03-29 08:10] Anna-Weaver-JL commented on #50
I had the same issue - and wrapping the child items didn't help.

The unnamed, unstyled div gets a width property that caused us some issues.  I got round it by assigning a style using `div:first-child`

[2018-04-06 04:18] DivyamShukla opened #56 "Next function called once only"
Please check

[2018-04-08 09:53] apoorvtomar2222 commented on #56
@DivyamShukla

In What situation does your next does not work.

A case might be you have set hasMore boolean as false. On subsequent call.

[2018-04-09 08:30] fabioimpe commented on #29
+1
I'm trying to use it in a modal component, but even passing the reference of the container with the **scrollableTarget** property, the **next** function is not triggered...
@ankeetmaini any help please?

[2018-04-09 10:42] ankeetmaini commented on #29
Hi guys, this is because the parent Modal renders when the child
(InfiniteScroll) renders. So when InfiniteScroll renders and its
componentDidMount is called the parent's ref is null. So the event
listeners are set at window, but in case of Modal the window doesn't
scroll. I'm working at a fix, I'll post my solution let me know if you like
it.

On Mon, 9 Apr 2018 at 14:00 Fabio <notifications@gith

[2018-04-09 10:46] fabioimpe commented on #29
Thank you, in the meantime I found a workaround, I tried to set a fixed height to the InfiniteScroll component and it started to work also in the modals, in my case I set it as window.innerHeight, just because my modal is fullscreen.

[2018-04-09 10:49] ankeetmaini commented on #29
Yes, that'll always work, if you pass height to InfiniteScroll component.

On Mon, 9 Apr 2018 at 16:16 Fabio <notifications@github.com> wrote:

[2018-04-12 08:38] olegkalyta opened #57 "Is it possible to use `react-infinite-scroll-component` for scrolling UP?"
I need to have exactly the same behavior but for scrolling up also. Is it possible using this component?

[2018-04-12 08:46] ankeetmaini commented on #57
As of now no. :( The scroll handler only works for scrolling down. I can take this up on a weekend.

[2018-04-15 01:06] WilliamStephens commented on #57
@ankeetmaini I would be willing to work on this if you could give me some more information on how you would want it implemented.

[2018-04-15 07:46] ankeetmaini commented on #57
@WilliamStephens so I'm thinking like in the [onScrollHandler](https://github.com/ankeetmaini/react-infinite-scroll-component/blob/master/app/index.js#L160) I check if the element is at the bottom, then we call the next prop, similarly we'll check if the element has reached the top and call another prop say `previous`

some cases you might need to consider

- show loader at the top
- the user must

[2018-04-15 19:33] ankeetmaini commented on #57
Right, I don't think `Pull Down` gesture makes sense if the component is
scrolled bidirectionally. So I think it should be safe to turn the `Pull
down` feature off if the user wants bidirectional scroll functionality.

On Mon, 16 Apr 2018 at 00:51 Wil Stephens <notifications@github.com> wrote:

[2018-04-16 14:18] WilliamStephens commented on #57
@ankeetmaini Ahh okay I think we are talking about two different features. I was thinking about this as the same functionality just reverse, so it would only scroll up or down not both at the same time. I think bidirectional scroll would take a little bit more time than I have right now. I might just implement a scroll up in a fork if that isn't a feature you want to support

[2018-04-28 17:55] karanmartian commented on #56
Hi @ankeetmaini any update on the fix for this. 4.0.2 is breaking on this issue. 3.0.2 works fine

[2018-04-28 21:07] ankeetmaini commented on #56
Hi guys, I've updated the examples, and you should use only the lates version i.e. v4.0.3

Please checkout the demo from the readme file https://github.com/ankeetmaini/react-infinite-scroll-component#live-examples.

I'm closing this for now, please reopen if the issue still persists. Sorry for the delay!

[2018-04-28 21:07] #56 closed

[2018-04-28 21:11] ankeetmaini commented on #50
@Anna-Weaver-JL, @harvinder-ss I know this reply is a little late. I've created a codesandbox showing this in action.

https://codesandbox.io/s/1y7jjvlwjl

See line 39, there the outer div contains a custom div which is styled in a light yellow color. I am closing this issue. Please reopen if you still face any issue.

[2018-04-28 21:11] #50 closed

[2018-04-28 21:13] ankeetmaini commented on #30
Hoping you got around the issue. Closing this as it's open for a long time now. Please reopen if you still face any issues.

[2018-04-28 21:13] #30 closed

[2018-04-28 21:14] #29 closed

[2018-04-28 21:15] ankeetmaini commented on #26
I hope you got it working. Apologies for not getting to it earlier. Please reopen if this is still an issue.

[2018-04-28 21:15] #26 closed

[2018-04-30 15:31] Anna-Weaver-JL commented on #50
Thank you @ankeetmaini - I wasn't clear enought with the issue I think.  Have a look at this sandbox where I have made replicated our issue.

https://codesandbox.io/s/k24w99vojr

We have a grid of details each box in the grid takes a percentage of the row.  As long as our first row contains enough items to fill the row the infinite scroll works perfectly but once we have a situation were there are

[2018-05-10 17:31] gdpsysgarage opened #59 "scrollableTarget not trigger"
Hi !!
I am having some trouble with **scrollableTarget** prop.
When I set the prop, the **next** function never gets triggered.
It seems that I am doing something wrong but I can't see what ...

Here is some part of my code:

[code]

I have a _'Grid'_ parent div which has billList as ID. This means that the InfiniteScroll is not working with the div scroll.
Besides, if I set a particular height to

[2018-05-15 18:03] ikorgik commented on #59
Have same problems

[2018-05-16 18:48] ankeetmaini commented on #59
Please find a working sample here https://codesandbox.io/s/r7rp40n0zm

Instead of passing the node reference like `document.getElementById("some-div")` just pass the `id` of the DOM element.

[2018-05-16 19:17] gdpsysgarage commented on #59
@ankeetmaini  I have updated the package but when i put the scrollableTarget as a string it breaks all the webapp

[code]

![error](https://user-images.githubusercontent.com/37113788/40138904-86d69780-5924-11e8-9e21-56db79f953ba.png)

[2018-05-17 03:58] ankeetmaini commented on #59
Is billList defined as an id?

On Thu, May 17, 2018, 12:47 AM Guido <notifications@github.com> wrote:

[2018-05-17 12:31] gdpsysgarage commented on #59
Yes

[code]

[2018-05-17 12:42] ankeetmaini commented on #59
No no, so giving an `id` to Grid.Column will not work, `id` should be a DOM
node. Grid.Column won't set `id` to any element. So when InfiniteScroll
component does document.getElementById('billList') it'll not get anything.

Can't you pass a height, or let the scroll happen at the window?

On Thu, 17 May 2018 at 18:01 Guido <notifications@github.com> wrote:

[2018-05-20 12:31] staho opened #61 "Problem with styling"
I've problem with styling when component is in the middle of context.
[code]

And the InfiniteScroll makes a div around him and there is no way to inherit hight from outer component. The only solution which I found is to change line:
From `var outerDivStyle = this.props.pullDownToRefresh && this.props.height ? { overflow: "auto" } : {};`
To: `var outerDivStyle = this.props.pullDownToRefresh && thi

[2018-05-22 03:32] ankeetmaini commented on #61
Hi @staho, I am not sure if I completely understand your problem. As far as I can understand you want to style the content, can you do something like this https://codesandbox.io/s/0ykkzx672n

Here I am wrapping the content in my own div and styling it as I want. Does this help? If not can you give me a reproduce-able sample?
[code]

[2018-05-28 04:08] lsvargas opened #62 "scrollableTarget not working"
Hi, i was having trouble while using infinite scrolling, because data was being loaded when my browsers main window scrollbar scrolled. So i tried using scrollableTarget to fix the problem, but when i tried using it the loader keeps displaying and no data is fetched. Code looks like this:
[code]
Here you can see the id of Container
![screen shot 2018-05-28 at 00 25 05](https://user-images.githubus

[2018-05-28 23:18] mrchief opened #63 "Remove proptypes from production build"
Proptypes brings in around 3k baggage. It'd be nice if the component stripped proptypes from production build. See https://www.npmjs.com/package/babel-plugin-transform-react-remove-prop-types

[2018-05-29 20:27] mrchief opened #64 "Support Server Side Rendering"
Currently, the code references `window` directly, see [this](https://github.com/ankeetmaini/react-infinite-scroll-component/blob/912d6ab7fd2f6af8fcb567047e9ba41302a301be/app/index.js#L36) and [this](https://github.com/ankeetmaini/react-infinite-scroll-component/blob/912d6ab7fd2f6af8fcb567047e9ba41302a301be/app/index.js#L161).

This breaks server side rendering since `window` is undefined. This can

[2018-05-29 20:41] mrchief commented on #63
Ideally yes. But webpacking already webpacked code can lead to issues (not sure it does in this case - I'll know once i give it try). Are you planning to support `package.module` or `package.jsnext:main` which exposes the non webpacked files?

The ideal solution would be to do what react does - expose a dev build and a prod build. It's more work for us library authors though. (I'm currently debati

[2018-05-30 02:32] ankeetmaini commented on #63
Yes I've been planning to expose jsmain modules. I'll take a look at
react's packaging and try it out! Thanks

On Wed, May 30, 2018, 2:11 AM Hrusikesh Panda <notifications@github.com>
wrote:

[2018-05-30 08:38] ankeetmaini commented on #62
When the scrolling is on your main browser's window you don't need scrollableTarget at all. You can just make it working like this https://codesandbox.io/s/yk7637p62z

[2018-06-03 10:22] alexbigapps23 opened #66 "use on table"
hi, how I can use this on the table?

[2018-06-04 15:00] ciaoben opened #67 "How to "re-calc" the height of the body?"
First, thanks for the component is very handy!

I have a question, in my use case, I render as children of the component embedded tweets using this library: https://github.com/capaj/react-tweet-embed.

I am having a problem, the "next" is called multiple times and way before the 80%, I am pretty sure that is because the embedded tweets are created after the first rendering happened, so the height

[2018-06-06 18:38] ankeetmaini commented on #64
@mrchief I looked at this issue long and deep. I'm using `window` only in and after `componentDidMount`. This is safe for SSR as `componentDidMount` gets called on the client and not on the server.

To test this out, I took a React SSR boilerplate and added InfiniteScroll component in the shared bundle. And it worked without any errors. [first commit](https://github.com/ankeetmaini/infinite-scroll

[2018-06-06 18:41] ankeetmaini commented on #64
Webpack 2 generates the IIFE [like this](https://github.com/ankeetmaini/infinite-scroll-ssr/blob/31670b89cc45547001205f87055b34efdc6cff23/shared/components/DemoApp/AsyncHomeRoute/dropdown/index.js#L10) - it uses `this` instead of window

[code]

Webpack [4 produces this](https://github.com/ankeetmaini/infinite-scroll-ssr/blob/master/shared/components/DemoApp/AsyncHomeRoute/dropdown/index.js#L10)

[2018-06-06 19:14] mrchief commented on #64
@ankeetmaini Thanks for this deep dive. Let me take a detailed look and get back to you. This is very helpful! :+1:

[2018-06-14 08:52] VinayakBagaria commented on #28
@AmauryLiet  Can you provide a code snippet for your fix on the issue?

[2018-06-20 23:43] mrchief commented on #64
Found this: https://github.com/webpack/webpack/issues/6525. Thanks again for digging into this!

[2018-06-20 23:43] #64 closed

[2018-06-26 00:51] ZxMYS commented on #47
It would be great if this can be fixed!

[2018-06-29 19:01] VovaCHTB commented on #57
The same issue, need to scroll up.

[2018-07-13 17:30] dylemma opened #70 "Odd behavior with nested InfiniteScrolls"
I've got an app with a potentially-large tree-list, e.g.

- Parent Item 1
  - Child Item 1A
  - Child Item 1B
  - ...
 - ...
 - Parent Item 100
   - Child Item 100A
   - ...

Where parent items can be expanded and collapsed by the user, and child items may in turn have their own children. I'm trying to utilize `react-infinite-scroll-component` to improve the performance of the initial rendering of

[2018-07-17 18:37] rajivhbk commented on #6
I'm  facing a similar issue. I can't add height as giving height gives my table another scrollbar. I've my scroll able element already defined. I tried passing ref to parent element having overflow-y: scroll to the "scrollableTarget" prop but it didn't work for me.

[2018-08-01 13:14] shad-k commented on #22
@ankeetmaini I am facing this issue as well. Any idea how to solve this. When `loader` is visible along with the `endMessage`.

[2018-08-02 06:51] rajivhbk commented on #62
@lsvargas any progress on this issue?

[2018-08-02 07:57] ankeetmaini commented on #62
@rajivhbk it won't work with refs because React renders children first and then parent. By the time InfiniteScroll mounts, the parent ref would be null.

To overcome this you can use id on your DOM element. Please see a working example here https://codesandbox.io/s/r7rp40n0zm

[2018-08-02 08:13] rajivhbk commented on #62
@ankeetmaini  yes i tried that too . passing id, passing document.getElementById('id')..
didn't work for me. I'm using this component . the body of which has overflow-y: scroll , and height is calculated like :  height: calc(100vh - 4.75rem) ... the body contains other components along with a table component which has a TableRows component placed inside <infiniteScroll> .

[2018-08-02 09:25] rajivhbk commented on #62
i passed it down to the div having the scrollbars as a prop from the component. i also tried giving an id directly to the div of the body component. Didn't work. It's a complicated implementation still i'll try to write an example to reproduce this.

[2018-08-16 15:21] Leden4ik opened #71 "Write a normal example, based on the static/offline data"

[2018-08-16 15:34] Leden4ik commented on #26
open.

You need a normal example to work with static/offline  data

[2018-08-22 08:30] server-izetov commented on #66
Hi @alexbigapps23 !

You can use as template example from this issue #62

[2018-08-22 16:26] infinitescrollissue opened #72 "I'm using infinite-scroll-component and next is not hitting fetchMoreData"
Next is not hitting fetchMoreData function. It is only hitting once even dataLength is 3. Can you help me with this issue

[2018-08-24 07:14] Hardik21 opened #73 "After change tab function call only once"

[2018-08-24 08:01] #73 closed

[2018-08-28 19:56] tommyalvarez commented on #72
@infinitescrollissue did you set the prop _more_ as true when fetching the first page of records? It's working for me. I have just implemented it

[2018-08-29 06:16] McLemore commented on #46
Still not work

[2018-08-29 07:03] ankeetmaini commented on #72
@infinitescrollissue in the first load of your data, make sure there's a scroll, in case your items are too less to cause a scroll the onScroll listener will not trigger.

[2018-09-20 17:07] benistary commented on #72
I have same problem. **next** prop calls fetchMoreData only when the array data has **lenght 3 or more.**

[2018-09-24 12:30] ayushnawani commented on #30
Did anyone get a solution for this issue? I am facing this same error on pulltorefresh.

[2018-09-26 19:35] lifedup commented on #72
I have the same issue! It's not calling the next function.  If I manually put a scroll listener and call my load more it works.  The issue is with this.  I have hasMore set and it's true, the scrollbar is there on load, 12 items load per call that are about half screen each.  The loader prop shows but never calls next.

[2018-10-01 08:45] AndrewTkachenko commented on #57
A lot of people need "scroll up" function :) Please, don't ignore it. Thanks

[2018-10-17 14:23] Fed0t opened #74 "Keep scroll on same position"
Hello,

How to keep the scroll in same position when i unshift and render new item in list( this.renderConversations() in this function i have a loop on redux state list) ?

If i update existing item in the list the scroll keep same position.Only when i add new item in list scroll loose position.Thank you!
`

                        dataLength={conversations.list.length}
                        ne

[2018-10-17 14:51] Fed0t commented on #74
i used refs and state :) thank you!

[2018-10-17 14:51] #74 closed

[2018-10-24 14:38] Mujaddadi opened #76 "Edge Scrolling issue"
It seems to me that without adding the height prop, the scrolling is not working in edge. It even worked in IE. Can anyone confirm it?

[2018-10-29 10:46] satejrajam30 commented on #76
Even I am facing same problem, any solution to this?

[2018-10-29 11:49] Mujaddadi commented on #76
Just add `height={window.innerHeight * 0.9}` to make everyone happy.

[2018-10-29 12:51] satejrajam30 commented on #76
@Mujaddadi Thank you, I will give it a try

[2018-10-29 17:33] davidcastrojobsity opened #77 "Cannot find module './factoryWithTypeCheckers'"
I'm getting this error when compiling:
`Error: Cannot find module './factoryWithTypeCheckers' from '.../node_modules/react-infinite-scroll-component/lib'`

I'm using react 16.6

Any help is appreciated

[2018-10-29 18:04] ankeetmaini commented on #77
Hi this isn't currently tested with the latest version of react. I'll try
and see it working on a day or two.

On Mon, 29 Oct, 2018, 11:08 PM David Castro, <notifications@github.com>
wrote:

[2018-11-05 14:47] davidcastrojobsity commented on #77
Hello @ankeetmaini, thanks for your response, have you had the time to check this issue?

[2018-11-06 07:52] ankeetmaini commented on #77
Hi, I just tested it with the latest version of react 16.6. I didn;t get any error. https://codesandbox.io/s/4349rqm3kx

Also, could you delete your node_modules and do npm i freshly? This maybe due to `prop-types` module is missing.

[2018-11-06 14:43] jgroh9 commented on #72
@infinitescrollissue @benistary  I too had this same issue. In my case, the problem was related to the `dataLength` attribute. I had initially set it to the total count of all the records in the collection that I was trying to load, but it had to be set to the current length of the data being displayed.  In the below example I originally had set `dataLength={500}` but this only called `fetchMoreIt

[2018-11-08 22:59] hyzhak commented on #57
yeah, it would be very useful feature

[2018-11-12 14:26] satejrajam30 opened #78 "Remove Throttle Effect"
Is there a way to remove throttle? When we scroll fast the events are not captured & results in lagging behavior.

[2018-11-20 06:32] nageshkatna opened #79 "Infinite scroller stopped working."
So, I am having a very unusual issue. I am using the package and it worked perfectly before and suddenly stopped working. I have not imported anything new on the page and have stopped working now. I remember it worked perfectly.
These are the imports on the page:
[code]
This is my package.json file:

[code]

I am rendring it like this:

[code]
I have removed everything from the page and tried the

[2018-12-04 12:55] jamesraj007 commented on #47
"the next callback seems to be called only after a scroll down event. if the page isn't full and I cannot scroll down to the bottom (cause I already reached it), then the loader is displayed, but the next callback doesn't get called. this is obvious when you start the component with no children."

Hi, I am also facing the same issue. When this problem will be resolved?

[2018-12-13 16:59] wyattwebb opened #80 "Style of overflow: auto"

[2018-12-20 19:41] TheBearSO opened #81 "Adding Support to `className`"
**"react-infinite-scroll-component": "^4.2.0"**

Hi, I'm using this lib, it worked really well.

One thing that I've tried to do without success is put an additional class to InfiniteScroll rendered wrap element. In my case I'm rendering bootstrap cols and I want to add a row as immediate parent div.

[code]
To fix it, I had to manually add the following css to simulate the bootstrap row:

[code]

[2018-12-21 03:05] echeong09 commented on #78
We're currently experiencing this issue as well. Have you looked into a workaround for this? @satejrajam30

[2018-12-21 06:40] satejrajam30 commented on #78
@echeong09 : setting the min-height to 100% for the parent container, solved the issue for me.

[2018-12-21 07:44] echeong09 commented on #78
@satejrajam30 Awesome, thanks for this!

[2018-12-25 16:13] J4spr commented on #30
I face the same error.. anything new?

[2019-01-18 23:15] alexanderjeurissen opened #84 "Support custom wrapping component for outerDiv"
It would be great if instead of always rendering an outer `<div>` that the user can specify what `tag` to render. This is especially useful if the InfiniteScrollComponent is rendered inside a table for instance. Something similar to what the `Fade` component of `ReactStrap` supports would suffice:

https://github.com/reactstrap/reactstrap/blob/master/src/Fade.js

relevant code snippet:

[code]

in

[2019-01-19 06:41] ankeetmaini commented on #84
So will tag be just a Dom node or it can be a component too?

I'm not sure if it'll be seamless because I depend on some styling i.e
overflow on the div. But I'm curious to know the usecase for this!

On Sat, 19 Jan, 2019, 4:45 AM Alexander Jeurissen <notifications@github.com
wrote:

[2019-01-22 13:19] rubelux commented on #80
Same problem, thanks for looking at it

[2019-01-23 11:07] The-Code-Monkey opened #85 "refresh function missing"
so i get this error but i have a refresh function there as its the same function that loads the original data.

Error: Mandatory prop "refreshFunction" missing.
          Pull Down To Refresh functionality will not work
          as expected. Check README.md for usage'

    <InfiniteScroll
       dataLength={this.props.posts.length}
       next={() => this.props.dispatch(nextPage())}
       loader

[2019-01-29 08:12] richardpramono opened #86 "Refresh from button problem with Y scroll"
How to Refresh scroll data from buttons?

I managed to create my own refresh function inside a refresh button, but when refresh function is called, the Y scroll position still in the middle (stays where it was), and because it's in the middle, it will trigger another several new fetch request. How do I set the Y scroll position to top, before I refresh the data?

Thank you

[2019-01-29 09:59] ankeetmaini commented on #86
https://codesandbox.io/s/qlkxmwoojj

Check the above sample, `refresh` function is nothing but a function that sends new props. As your main data prop changes `dataLength` prop will automatically re-render the InfiniteScroll function

[2019-01-29 10:01] ankeetmaini commented on #85
Hi, you're calling the refresh function in the prop.

[code]

Also, see this example https://codesandbox.io/s/jz45k82973

Please re-open if you've any other issues.

[2019-01-29 10:01] #85 closed

[2019-01-29 10:01] ankeetmaini commented on #86
I am closing this for now, but please feel free to re-open if things don't work out.

[2019-01-29 10:01] #86 closed

[2019-01-30 13:12] dhamodharan-baskar opened #87 "scroll not working in mobile screen"
in a mobile screen, it's not capturing the event once the dom reaches the end in scroll

[2019-02-04 19:36] ankeetmaini commented on #81
@TheBearSO can you submit a PR? :)

Sorry for not getting to it earlier!

[2019-02-04 19:37] #78 closed

[2019-02-04 19:37] #77 closed

[2019-02-04 19:38] #72 closed

[2019-02-04 20:08] TheBearSO commented on #81
Hi @ankeetmaini I've already done it... https://github.com/ankeetmaini/react-infinite-scroll-component/pull/82

[2019-02-05 14:17] E-Mud opened #89 "Change in scrollableTarget not being tracked"
Currently, `InfiniteScroll` adds the scroll listeners only when mounting. That means that if it changes, the component won't request a new page load if there's some scroll in the new target.

I guess the solution is to check in `componentWillReceiveProps` if there's some change in target, and if it's the case, remove the current listeners and re-add them (as it's done now on mounting).

[2019-02-06 09:02] ankeetmaini commented on #89
Or you can simply change the key in userland code ;)

[code]

This way the component will mount/unmount and attach proper listeners. Thoughts @E-Mud ?

[2019-02-06 11:27] E-Mud commented on #89
@ankeetmaini That's actually what we ended up doing and it works. I opened the issue because it felt more like a hack than a proper solution.

But I guess that, if attaching should happen only when mounting, then maybe it should be documented (along with the proposed solution of using `key`).

[2019-02-11 02:03] richardpramono opened #90 "Go to Top button outside scrollableDiv"
How to implement "Go to Top" button with this component when this component located inside a scrollableDiv and the "Go to Top" button is outside the scrollableDiv?

[2019-02-11 08:30] ankeetmaini commented on #90
I don't think it matters where your button is located. On click of button just get hold of `scrollableDiv`.

[code]

[2019-02-15 02:32] mighty6ft5max commented on #87
I might be experiencing the same issue. I'm testing on Google Chrome console set to a mobile device and the function I call in `next`, is not firing when it should.

[2019-02-25 21:47] cescoferraro opened #91 "Uncaught TypeError: Cannot read property 'style' of null at eval"
I am using the infinite loader list inside a a tab containers using swipable-views https://github.com/oliviertassinari/react-swipeable-views

But I am getting a error on the onEnd animation everytime I leave the tab.
This is where the error bubbles up

[code]

[2019-02-27 12:34] ankeetmaini commented on #91
Thanks! Published in 4.5.1

[2019-02-27 12:34] #91 closed

[2019-03-06 09:57] mimiqkz commented on #57
The bidirectional scroll is great. Any news on it ?

[2019-03-06 23:09] emlynmac commented on #47
Seems like you'd need to look at the size of the components inside the scrollable area and work out if the height is > than the height of the scrollable area. If it isn't, do another next() call on the next update.

[2019-03-10 18:04] wootwoot1234 commented on #57
@ankeetmaini  I'm interested in this too. :)

[2019-03-18 09:44] ankeetmaini opened #94 "Roadmap: v5"
I never expected this small project to be this popular. It hit 500 stars yesterday! So thank you everyone for trusting this code and bringing it thus far.

There are a lot of things that I'd like to be improved

- better build setup
- better dev setup
- tests and tests and tests
- typescript

Hoping to make progress on this!

[2019-03-20 12:56] Sergey-grishko commented on #90
In my case it did not work

[2019-03-25 10:17] szymonprz opened #101 "Remove element from data and load next elements when there are more"
Hi
I'm trying to remove element from data which is shown in infinite scroll, but when i'm just removing the elements it's not showing then but InfiniteScroll components doesn't know that and it's not loading next, but it's calling hasNext method, is there any workaround to this?

[2019-03-25 20:21] szymonprz commented on #101
I figured it out, my workaround for this is to manually increment and decrement scrollTop property on scrollableTarget element after removing an element, so I'm closing this issue.

[2019-03-25 20:21] #101 closed

[2019-03-26 02:27] mginz83 opened #102 "How do you pass in a array of items"
I created an array separate from the this.state.items... but it wont perform the same way as the demo..

https://codesandbox.io/s/r5or1p0o8o?from-embed

why?

[2019-03-26 07:19] ankeetmaini commented on #102
Two things

   - you've hard-coded dataLength prop to be 10, this should be the length
   of the actual children items you're sending. The component re-renders only
   if you update this. So this should be `this.state.item.length`
   - in your fetchCall, you're updating state.items and in render using
   state.item

Please see this, I've modified your example a little, hope this helps
https://code

[2019-03-26 13:11] mginz83 commented on #102
Thanks!

How can i limit the list to show X amount on first load?

Your code showed 20, and then added 20. How would I do that?

[2019-03-27 14:37] kevinlaw91 commented on #87
Hi @ankeetmaini, I opened a PR for a potential fix. This solution worked for me. Would be happy if you can review it. Thanks

[2019-03-28 12:04] angularli opened #104 "Infinite call"
When a page is a load it is called infinite movieshandler function
[code]

[2019-04-01 07:05] angularli commented on #104
hi
any solution?

[2019-04-05 10:02] WalidKurchied commented on #104
try this maybe:

 next={**() =>** this.moviesHandler(page)}

[2019-04-05 13:36] WalidKurchied opened #105 "Loader gets displayed on initial load"
I have a problem were the loader component or element i pass to the loader prop gets loaded by default when the component loads without scrolling or anything like that... is there a way to stop it from loading when the component gets mounted ?

Thanks

[2019-04-09 15:26] #105 closed

[2019-04-09 17:44] cullanshewfelt commented on #90
I needed to do the same thing, for some reason @ankeetmaini code wasn't working for me so I did this:

[code]

[2019-04-10 13:31] igoralemasow opened #106 "Scroll not working if view is scaled"
I have the website with fixed width 1080px. If width of the screen is less then 1080px, website scales to fit the screen. I use the following meta tag for this:
`<meta name="viewport" content="width=1080, user-scalable=yes">`

Let's assume that we open device emulation in Chrome and choose Iphone 5/SE, with 320*568 resolution.
Website scales to fit the screen, and scale is 1080px/320px=3.375.
But

[2019-04-12 05:24] haresh0398 opened #107 "pullDownToRefresh not working when hasMore is false"
when all the documents are fetched, the state is updated to hasMore false
But when new documents are added and the user tries to refresh. the pullDownToRefresh not working since hasMore is false.
Refresh content should not depend on hasMore isn't?
hope you guys see this

[2019-04-12 18:24] guillempuche commented on #90
**SOLVED**

[**PROBLEM**]
I didn't know if use `document.getElementById('...');` or `this.chatRef` or whatever reference. And I didn't know which reference and how put on the `getScrollParent`.

[**SOLUTION**]

**STEP 1:**
I use `this.chatContentRef = React.createRef();` (see on [React docs](https://reactjs.org/docs/refs-and-the-dom.html)).

[code]

**STEP 2:**
Write the `scrollToBottom` function.

[2019-04-25 20:36] amitpatil321 opened #108 "next method doesnt get called on state change event ?"
### Problem Statement
While using this component I noticed that next method isn't getting called when state changes, I thought something is wrong with my code but then I tried with standard demo and found that it doesn't react to state change.

### Demonstration
Below is the demo of modified code [https://codesandbox.io/s/p9rz92k6nq](url)

### Expected Behaviour
Next method should be called when p

[2019-04-26 06:51] ankeetmaini commented on #108
Hi,

I don;t think next should be called on any parent state change. next gets
called only when you reach at the end. On parent state change the component
will be re-rendered with the props if they're updated.

On Fri, Apr 26, 2019 at 2:06 AM Amit <notifications@github.com> wrote:

--
*Ankeet Maini*
*"Just when the caterpillar thought the world was over, it became a
butterfly!"*

[2019-04-26 06:53] amitpatil321 commented on #108
Did you check demo code ? I am changing code state in that case render method gets called but next doesnt trigger.

[2019-04-26 07:06] ankeetmaini commented on #108
Yes, I saw. You change the state `clicked` to true. But why should it call
next? User has not scrolled down? It doesn't change any aspects for the
InfiniteScroll component.

On Fri, Apr 26, 2019 at 12:23 PM Amit <notifications@github.com> wrote:

--
*Ankeet Maini*
*"Just when the caterpillar thought the world was over, it became a
butterfly!"*

[2019-04-26 07:10] amitpatil321 commented on #108
What I am trying to achieve is, I have a dropdown on a page, when user change value in a dropdown, page should show records based on selected values, That's not happening right now because it doesn't detect state change.

[2019-04-26 07:17] ankeetmaini commented on #108
Okay, got it. So when you change a dropdown you should trigger an API call
to fetch the list and pass them as children. This way old data would be
removed and fresh results would be shown to the user. Also, make sure the
first batch of results are of decent size so as to have a scroll, else next
won't fire because there'd be no scroll for the user.

On Fri, Apr 26, 2019 at 12:40 PM Amit <notificat

[2019-04-27 16:26] engmsilva commented on #47
I'm having similar problem, but in my case I could resove it just by taking a backend flag from the backend server and changing the state of the hasMore to false when there were no more pages to load. But incredibly it is not possible to do this if you have only one element in the list, since if you change to false the state of hasMore with only one page loaded, simply the component clears the lis

[2019-05-01 19:34] riteshchandna opened #109 "Does this component supports error handling?"
Let's say I am loading 6th page and the service returns some error (Gateway time out for example). Does this component have an option to display the error message and have a button to "Try again" ?

[2019-05-15 13:12] nero120 opened #111 "Next function broken in v4.0.0"
I upgraded from v3.0.2 to v4.5.2 and discovered that the `next` function fires only once. My code:

[code]

I've removed all `shouldComponentUpdate` functions in the component hierarchy (to make sure the components are always re-rendered) but still `next` only fires once when I scroll to the bottom of my `scrollableTarget`. Results are loaded and displayed, but when I scroll to the bottom of `scro

[2019-05-15 13:16] ankeetmaini commented on #111
Is it broken in the latest version also? Latest is 4.5.2. Can you please
check and confirm?

On Wed, 15 May, 2019, 6:42 PM Rich, <notifications@github.com> wrote:

[2019-05-15 13:39] nero120 commented on #111
It is yes, I originally updated to latest (4.5.2) which is when I discovered the issue. I later downgraded to 4.0.0 to find the first version the issue occurs in.

-------- Original Message --------
On 15 May 2019, 14:16, Ankeet Maini wrote:

[2019-05-16 15:56] oscar-corredor commented on #111
same problem here

[2019-05-18 13:59] Griefchief opened #112 "Element.scrollIntoView support?"
I have a "bug" where I rerender the component *manually* based on the setting "Count of videos on the page".

1) As you can see in the image, the yellow slider menu to the right, it's currently 195 videos and the whole page is scrolled **all the way** to the **bottom**.

2) When I make 195 down to a lower number, say 1, instead of the page scrolling back down to the start on rerender, it stays exa

[2019-05-22 12:04] sspiff commented on #111
data**l**ength  =>  data**L**ength ?

[2019-05-23 13:21] kierantaylor commented on #111
I've also had to downgrade to v3.0.2 to get this to work. v4 must have introduced the break. I haven't looked into it though,

[2019-05-23 13:32] ankeetmaini commented on #111
dataLength was misspelled. Can you check again? I'm using 4.5.2 in
production. It seems to work fine though.

On Thu, 23 May, 2019, 6:51 PM Kieran, <notifications@github.com> wrote:

[2019-05-24 12:54] nero120 commented on #111
Yes that was it thanks @sspiff , my bad! 😄

[2019-05-24 12:54] #111 closed

[2019-05-24 16:03] nareshbhatia commented on #66
I have a table version buried in here: https://github.com/nareshbhatia/infinite-scroll-demo. You will have to comment out the div version and uncomment the table version in app.js.

[2019-05-24 16:14] nareshbhatia commented on #47
As opposed to the `prefill` solution mentioned above, can we implement a cheap workaround whereby one call to `next()` will be made when the component is instantiated? If the page size is large enough, this gives us the prefill that's needed. Basically, this workaround avoids setting up a separate mechanism for loading the initial data.

[2019-06-02 18:29] juank11memphis commented on #47
Any news on this, I am having the same issue. As @nareshbhatia commented, the best solution I can think of and the more natural is that the next functions should be called on component instantiation.

Thanks

[2019-06-06 14:51] ipanasenko opened #114 "Redundant re-renders during scroll"
Hi. I see redundant re-renders during scroll, that are coming from state updates, but these value from state don't actually change anything in `render` method. I'm preparing a PR to move them out of state

[2019-06-13 14:15] KuNman commented on #107
Up. Still bugged.

[2019-07-07 15:43] gostavee commented on #57
Same here, this component is almost perfect (will be after adding scroll up :D).

[2019-07-11 13:26] elrumordelaluz commented on #104
As mentioned by @WalidKurchied the `next` prop should be a `function` declaration and not a `function` call, otherwise you are creating an _Infinite_ loop between `renders`.

[2019-07-12 06:46] raoulcimpean opened #116 "next function it`s called on navigate back"
After user scrolls content, and leave the page, if user press navigate back, next function it`s called extra.

[2019-07-15 07:28] shihabus opened #117 "initialScrollY not working"
**** initialScrollY****  is not working. Great if anybody can share a sample code which uses this.

[2019-07-21 02:02] GainorB commented on #116
I am noticing the same issue. May need to find another package.

[2019-07-23 14:53] EJohnF commented on #66
but what's about sticky header?

[2019-07-29 11:02] davidb1 opened #118 "Uncaught TypeError: Cannot read property 'clientHeight' of null"
Getting this when scrolling to the top most or bottom element on clientHeight evaluation:
[code]

Any idea why?

[2019-07-29 17:08] DrobyshevAlex commented on #107
I have got the same issue, why that topic has been closed?

[2019-07-30 17:31] DrobyshevAlex commented on #107
Property **actionTriggered** becomes **false** in [line 91](https://github.com/ankeetmaini/react-infinite-scroll-component/blob/master/app/index.js#L91)

But if server responses **empty array** [] then dataLength won't be changed.

[Line 86](https://github.com/ankeetmaini/react-infinite-scroll-component/blob/master/app/index.js#L86) doesn't allow set to **false** property **actionTriggered**.

I t

[2019-07-30 17:41] ankeetmaini commented on #118
Can you give me a repro? A github repository or codesandbox link?

[2019-07-30 17:42] ankeetmaini commented on #116
Can you give me a repro?

[2019-07-30 17:56] #114 closed

[2019-07-30 18:00] ankeetmaini commented on #112
As of now there isn't one, but there's a `onScroll` prop in which you can pass a function which will be passed the scroll event and then decide to scroll as per your case.

[2019-07-30 18:06] ankeetmaini commented on #109
Currently, no. The `next` function prop you send does not expect to be a promise. Instead you can do something like

[code]

Let me know if this doesn't solve your use case. Closing this, feel free to reopen with more details

[2019-07-30 18:06] #109 closed

[2019-07-30 18:06] #102 closed

[2019-07-30 18:07] ankeetmaini commented on #102
I hope you figured it out.

[2019-08-02 11:30] davidb1 commented on #118
Can't reproduce in a new repo and can't catch the error when debugging. Build might be changing code

[2019-08-02 11:30] #118 closed

[2019-08-08 17:47] vairam3360 opened #119 "scroll events fired for non scroll events"
Whenever I make sort on this table or else if do any new data load, the next gets called because the ScrollTop is zero while doing the action. even though i have many items in the top which should not call the next method. any suggestion will help. Thanks in advance

import React, { useState, useEffect } from "react";
import { connect } from "react-redux";
import Table from "@material-ui/core/Tabl

[2019-08-09 22:14] helderjbe commented on #47
This is also affecting if the user has bigger screen than the initial data fetch (users can't scroll down)

[2019-08-15 16:13] fireflypie opened #120 "Scroll up"
Would be nice to have ability to scroll up.
Eg. Facebook chat, where you scroll up to see your previous messages.

Any ideas on that or any Forks I could use?

[2019-08-19 02:51] zhangolve opened #121 "if container height bigger than content height,can not load more data"
As https://codesandbox.io/s/yk7637p62z showed , just change styles to below:

[code]

![TIM截图20190819104715](https://user-images.githubusercontent.com/7566337/63236156-39e55500-c26f-11e9-8f3c-b0e014c40e3d.png)

scroll page and never load data any more.

[2019-08-19 15:47] madmed88 opened #122 "support for react 16.9/17.0"
when using with react 16.9 we have this warning:

[2019-08-27 10:28] falguni73 opened #124 "support for react/react-dom versions 16.8.4 ,16.8.6"
not working  'next' function call

[2019-08-29 13:21] Holenvik commented on #124
I have this issue neither
React 16.8.6

[2019-09-02 00:44] YassienW opened #125 "Function is triggered when scrolling up"
Is this intentional? It causes a lot of inconvenience and redundant calls.

[Live Example](https://codesandbox.io/s/react-infinite-scroll-example-0ve8e)

Try scrolling down to the end then scrolling up, it will fetch more data when scrolling up.

[2019-09-15 20:42] Kostanos commented on #81
I guess this issue could be closed already no?

[2019-09-23 02:02] wonderer007 opened #129 "scroll clear previous data"
I am using `react-infinite-scroll-component` with `redux`

[code]

and

[code]

when I scroll and apply `debugger` to function `this.fetchMoreData` it shows me `this.props.result=[]` it always clear previous data even in my redux store.

[2019-09-23 02:53] #129 closed

[2019-09-25 14:36] IdelCoder commented on #6
Great, that's it. Thanks!

[2019-10-01 07:03] #81 closed

[2019-10-01 07:05] ankeetmaini opened #135 "Add ESLint/prettier and lint-staged"

[2019-10-01 08:36] danielcaldas commented on #135
Hey @ankeetmaini is this one up for grabs?

[2019-10-01 09:57] #135 closed

[2019-10-01 10:06] ankeetmaini commented on #63
#126

[2019-10-01 10:09] ankeetmaini commented on #94
Update:

We're working hard to release the V5 version

- it'll not have any breaking changes per-se
- porting the code to TypeScript #130 (please see the progress on the main PR)
- removed Webpack in favour of microbundle
- adding tests

[2019-10-03 19:15] jschuler opened #139 "Omit extra parent div"
Seems like that the component is rendering an extra div on the outside, e.g.
[code]
Is there any way to omit that outer div? Or at least add a class to it? It is causing issues in my CSS grid

[2019-10-04 13:05] jaexplorer opened #140 "componentWillReceiveProps has been renamed"
* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedStateFromProps. Learn more at: https://fb.me/react-derived-state
* Rename componentWillReceiveProps to UNSAFE_componentWillReceiveProps to suppress this warning in non-strict mode. In React 17.x, only the

[2019-10-09 13:20] Falkyouall opened #141 "scrollIntoView not working"
Hi there, i worked out an app where one can click an element on a Map, and by that, it should scroll to that according item in the infinite list. The first thing i did was to load the chunk that includes that item into the list, but even by doing that, it wont scroll anywhere... i neither get any error message that something broke or didn't work out.

I hope you can help out, as this is a pretty e

[2019-10-09 16:16] #141 closed

[2019-10-11 11:56] edekk commented on #140
To overcome this issue browse
`{your_project}\node_modules\react-infinite-scroll-component\lib\index.js`
and change:
`key: "componentWillReceiveProps",
	    value: function componentWillReceiveProps(props) {
	     ...
`
into:
`key: "componentDidUpdate",
	    value: function componentDidUpdate(props) {...`

Keep in mind you edit the build version, so for good measure you could also edit pre-build f

[2019-10-22 17:52] xNicklaj opened #142 "How can I use this component to infinite scroll horizontally?"
So I have an horizontal list, but how do I make it work with InfiniteScroll horizontally?

[2019-10-22 18:56] ankeetmaini commented on #142
As of the current implementation it can't work horizontally. I've to tweak
some things probably to make it work. Sorry about that!

On Tue, 22 Oct, 2019, 11:22 PM Simone Aronica, <notifications@github.com>
wrote:

[2019-10-23 16:00] #142 closed

[2019-10-23 16:01] xNicklaj commented on #142
Oh okay, thanks anyways! in the end I've managed to build my own way to create an infinite scroller!

[2019-10-24 06:03] GabrielLoubier opened #143 "end message is not showing up"
It continues to display the loader even when the list is done. What am i doing wrong?

[code]

[code]

[2019-10-26 04:55] ankeetmaini commented on #143
You are hard-coding `hasMore` to be true always. This should be conditional based on the data.

[2019-10-26 04:55] #143 closed

[2019-10-26 05:43] #139 closed

[2019-10-26 05:43] ankeetmaini commented on #139
This fix is not published yet. I'll do it soon! Thanks for reporting this.

[2019-11-04 23:58] jaexplorer commented on #47
Any update on this?

[2019-11-05 06:48] ankeetmaini commented on #47
As tempting it is to do this, but this may cause the API to be called twice, as until now, InfiniteScroll component doesn't take the responsibility for loading the first batch of data. Should the component do that, it'll be a breaking change (sort of)?

[2019-11-05 08:39] ForkBug commented on #139
Encounter the same issue. Will the npm be published in these days?

[2019-11-05 09:10] ankeetmaini commented on #94
I just published a major version release 5.0.0! Please test it out and let me know! Thanks!

[2019-11-05 09:10] #94 closed

[2019-11-05 09:12] ankeetmaini commented on #139
Really sorry @ForkBug, I just published 5.0! This is a major re-write in TS. Let me know if it works fine!

[2019-11-05 09:19] ForkBug commented on #139
Awesome!!! You are doing so great job!

[2019-11-05 09:27] #79 closed

[2019-11-05 09:28] #62 closed

[2019-11-05 09:28] #61 closed

[2019-11-05 09:29] #76 closed

[2019-11-05 09:30] ankeetmaini commented on #84
Outer div now has a className which you can target. Thanks

[2019-11-05 09:30] #84 closed

[2019-11-05 09:30] #63 closed

[2019-11-05 09:33] ankeetmaini commented on #107
I depend on DataLength to know if I should call the API again, it doesn't block render, new props passed in will automatically show up, like children

[2019-11-05 09:33] #107 closed

[2019-11-05 09:34] #66 closed

[2019-11-05 18:37] sT0pe opened #148 "import error with v.5.0.0"
Error after update package to latest version

./node_modules/react-infinite-scroll-component/dist/index.mjs
Can't import the named export 'throttle' from non EcmaScript module (only default export is available)

[2019-11-06 03:12] ankeetmaini commented on #148
Can you tell me the webpack version?

[2019-11-06 03:12] ankeetmaini commented on #148
Or a sample repository where I can see this?

[2019-11-06 04:01] ankeetmaini commented on #148
I just pushed a fix, removing .mjs module. Could you confirm if this is fixed? @sT0pe

[2019-11-06 06:47] emregency opened #150 "[Request] Changelog"
When I see a jump from 4.5.3 to 5.0.1, I am scared when I do not find a changelog. Is it possible to have one?

[2019-11-06 06:49] ankeetmaini commented on #150
I'm sorry, it was a port from JS to TS. No API changes. I'll add a changelog. Thanks.

[2019-11-06 07:48] kvandake commented on #148
I get the same error.

packages.json
[code]

[2019-11-06 08:59] sT0pe commented on #148
@ankeetmaini yes in v.5.0.1 error is fixed. Thanks

"name": "webpack",
"version": "4.39.0",

[2019-11-06 08:59] #148 closed

[2019-11-07 01:28] AlexTwine opened #153 "reverse option"
any way to reverse the scroll like in a chat?

[2019-11-07 01:29] #153 closed

[2019-11-07 13:09] ipanasenko commented on #31
This behavior broke in v5, because in types `height` is specified as `number` only

[2019-11-07 16:27] ankeetmaini commented on #31
Thanks! I published a new patch version which fixes the problem.

On Thu, 7 Nov, 2019, 6:39 PM Ilya Panasenko, <notifications@github.com>
wrote:

[2019-11-07 18:54] ankeetmaini commented on #150
I have now started publishing changelogs in Releases page. Thanks!

[2019-11-07 18:54] #150 closed

[2019-11-07 20:01] emregency commented on #150
I saw that :) thanks! Great start.

[2019-11-11 13:24] Michaelaronja opened #154 "Pagination and scroll position"
Wishing some sort of pagination functionality so that you won't loose your position if going back to the list of items from eg. a post that was linked from the scroll list, or if you'd like to link the site to another user and get a more accurate position/page index.

[2019-11-12 13:20] NNSTH opened #155 "react warning: Can't perform a React state update on an unmounted component."
This warning appears as I scroll down a bit within infinite-scroll component and then navigate to another page of my site.
it's related to the throttled function of scroll.
this throttled needs to be canceled on componentWillUnmount.

Any help will be appreciated!

[2019-11-12 17:15] chuanxie commented on #155
happen to me as well. mess up everything.

[2019-11-12 17:51] ankeetmaini commented on #155
PRs welcome!

On Tue, Nov 12, 2019 at 10:45 PM Chuan <notifications@github.com> wrote:

--
*Ankeet Maini*
*"Just when the caterpillar thought the world was over, it became a
butterfly!"*

[2019-11-13 08:29] NNSTH commented on #155
Could you review my PR pls?  thanks for quick response!

[2019-11-13 16:18] anthonyvialleton commented on #87
Has this bug been solved already ? Experiencing some issues on Mobile with next function not fired anymore

[2019-11-13 17:34] ankeetmaini commented on #87
Can you give a repro? A repo or a codesandbox?

On Wed, 13 Nov, 2019, 9:48 PM Vialleton, <notifications@github.com> wrote:

[2019-11-18 12:50] fooki opened #157 "Add warning (or throw error) when the dataLength prop is missing"
Hi!

I spent some time debugging why our infinite scrolls didn't add content and it turned out that I had missed the dataLength prop. The dataLength prop seems very important and it would be nice to see a warning or an error if it is missing. I'd be happy to submit a PR. What do you think?

Thanks

[2019-11-18 13:05] ankeetmaini commented on #157
Oh, sorry to hear that! Although it's mentioned in the docs but throwing an explicit error seems better. PR welcome! :)

[2019-11-21 10:41] peakcary opened #159 "next={this.fetchMoreData}"
fetchMoreData can not fetch

[2019-11-26 08:04] ankeetmaini commented on #159
Reproducible example?

[2019-11-27 16:32] ipanasenko opened #162 "`loader` prop is now required?"
As specified in types: https://github.com/ankeetmaini/react-infinite-scroll-component/blob/master/src/index.tsx#L10

Is `loader` prop required now or is it a typo in types?

[2019-11-30 13:25] ph15041996 opened #163 "Getting the previous props"
When I am passing props to the InfiniteScroll component  I get proper data but when i again pass different props i get few data from the previous props most of the time i get the first object from the previous props   but the props passed are different .
If I refresh the page i get the proper data

The code i am using is
  <InfiniteScroll
  dataLength = {this.props.SearchResultR.length}
  scrollTh

[2019-11-30 16:08] rohmanhm commented on #47
Set the body to `min-height: 101vh;` did the job for me.

[2019-12-02 07:38] #163 closed

[2019-12-09 22:38] michael-38 opened #164 "scrollableTarget not being passed properly"
Using v5.0.4

When I scroll to the bottom of my table, my `next` function is not triggering to fetch more data. If I'm wrapping `InfiniteScroll` with multiple children, how can I ensure that the scroll events are being triggered? I also tried using and id string for scrollableTarget but got an error saying that it's expecting an Element instead of String.

`
import React from 'react';
import PropT

[2019-12-17 22:33] atouzel commented on #47
This is a serious problem if a user has a large screen that displays more items than you would expect. I don't want to load two times the amount of items that 95% of my users need just for that, so I did the following in my component with a useEffect hook:

[code]

where itemCount is the number of item you want to display. Hope it helps anyone!

[2019-12-23 13:36] davidb1 commented on #118
@ankeetmaini
Still getting this, when would the target be null here?

`  onScrollListener = (event: MouseEvent) => {
    if (typeof this.props.onScroll === 'function') {
      // Execute this callback in next tick so that it does not affect the
      // functionality of the library.
      setTimeout(() => this.props.onScroll && this.props.onScroll(event), 0);
    }

    const **target** =
      th

[2019-12-25 17:55] ThomasWhyne opened #165 "actionTriggered,showLoader reset"
It seems that in `UNSAFE_componentWillReceiveProps`,  key and dataLength diffing was the only way to detect whether states listed above should be reset.

This comes with the assumption that each data fetching would be done successfully and eventually result in data item increment or key change,.

While this is sometimes untrue since it occurred to me that when there are more data to be loaded, yet

[2019-12-26 07:00] ankeetmaini commented on #165
This is a known issue. There was a feature which used to reset the
actionTriggered flag when user would scroll up. Assuming if the next call
failed and user continues to see the loading... message he would scroll up
and then down again. But somehow this for removed. I'm up for adding it
again. PRs welcome too!

This acted as an escape hatch when the API call fails. Ideally the next
function should

[2020-01-14 00:47] ca-miked commented on #164
I'm having the exact same issue. I have overriden overflow on the `.infinite-scroll-component` div to hidden and have specified the scrolling parent element as the scrollableTarget. The `next` callback never fires even with a very large scrollThreshold value. Any ideas?

[2020-01-14 19:17] tommasodargenio opened #166 "next callback is only executed once, showLoader property stays true all the time"
I'm experiencing a little issue with this component. I've set up the component the same way it's in the first example, when I scroll down and reach near the end of the page it will load the second batch of data without a problem. I can see in the component inspector that the property showLoader is switched to true but then once the data is finished fetching it stays the same.

When I scroll down a

[2020-01-15 01:29] ankeetmaini commented on #166
The dataLength property needs to be set to the number of items rendered. So
it will be 20 after the first batch, 40 after second. Not the total number
of records. Since your dataLength doesn't change, the API isn't called.

On Wed, 15 Jan, 2020, 12:47 am tommasodargenio, <notifications@github.com>
wrote:

[2020-01-15 09:15] tommasodargenio commented on #166
It appears I've greatly misinterpreted what that parameter function is. I've fixed my code and now everything works flawlessly. Thanks a lot for the fast response and help!!

[2020-01-15 09:15] #166 closed

[2020-01-15 09:49] ankeetmaini commented on #166
No worries, thank you! Glad it worked :)

On Wed, Jan 15, 2020 at 2:45 PM tommasodargenio <notifications@github.com>
wrote:

--
*Ankeet Maini*
*"Just when the caterpillar thought the world was over, it became a
butterfly!"*

[2020-01-15 14:31] Falkyouall commented on #140
this should be patched by the authors asap. the only other way i see here is to apply [npm patch-package](https://www.npmjs.com/package/patch-package). this will edit the wrong-ish npm module every time you type npm install, and therefore the only sustainable way to accomplish this besides waiting for a new release.

[2020-01-15 14:46] ankeetmaini commented on #140
Will look into it this weekend. Sorry for the trouble

On Wed, 15 Jan, 2020, 8:01 pm Falk M., <notifications@github.com> wrote:

[2020-01-15 14:58] Falkyouall commented on #140
@ankeetmaini thank you.

[2020-01-17 23:28] emlynmac opened #167 "Typescript definitions broken"
Just attempted updating from 4.5.3 => 5.0.4 and it breaks with importing the package.

I'm using typescript 3.7.5
`import * as InfiniteScroll from "react-infinite-scroll-component";`
worked previously.

Now we get:
[code]

[2020-01-20 05:51] ankeetmaini commented on #167
Directly importing like import InfiniteScroll from
"react-infinite-scroll-component";
works?

On Sat, 18 Jan, 2020, 4:58 am Emlyn Bolton, <notifications@github.com>
wrote:

[2020-01-20 11:27] ankeetmaini commented on #140
@Falkyouall latest release has this change? I see in master the method was renamed to "UNSAFE_ComponentWillReceiveProps". You shouldn't be getting any warnings.

[2020-01-20 15:36] emlynmac commented on #167
I tried that too, but also fails.

[2020-01-27 16:19] sulaiman1073 commented on #57
Also interested in such a feature.

[2020-01-28 07:02] esbjupreti commented on #153
Hello!!
Is there any way to reverse the infinite scroll feature for chat component?
Thanks

[2020-02-05 08:59] pardonmeme opened #171 "Infinite scroll is not working with zoom out."
So, when you zoom out to certain point, depending on the amount of items displayed. The infinite scroll won't be triggered ever.

[2020-02-06 07:13] pokharelsangam commented on #121
Hello all
Have anyone found solution of this issue?

[2020-02-06 11:05] ankeetmaini commented on #121
Right now there's no solution, only thing is load upfront more items to
have a scroll for sure.

On Thu, Feb 6, 2020 at 12:43 PM pokharelsangam <notifications@github.com>
wrote:

--
*Ankeet Maini*
*"Just when the caterpillar thought the world was over, it became a
butterfly!"*

[2020-02-07 04:31] esbjupreti commented on #121
Thank you @ankeetmaini
But, there is a situation in my list that the user can delete item from the list. And when the user deletes all the item, user won't be able to scroll. And then the same issue arises. Can you please help me on this.

[2020-02-10 09:36] mifff-lunglinh opened #172 "How can i set scrollThreshold > 100%?"

[2020-02-10 19:47] MotorCityCobra opened #173 "Infinate scroll just loading one batch of new objects and doesn't load more"
Seems like a bug. Why would it start at 6 elements, add another six, then stop at 12 when it knows damn well the dataLength={apiResponse.length} is 25?

    import React, { ListView } from 'react';
    import InfiniteScroll from 'react-infinite-scroll-component';

    export default class Fb_grid extends React.Component {
      constructor(props) {
        super(props)
        this.state = {

[2020-02-14 21:05] captrespect commented on #173
You need to keep all your items in an array and append further results to them.

[2020-02-15 07:32] ertemishakk commented on #47
@fatih108 You are not supposed to call it like that, it needs to be in a seperate function and that function will need to be called when the page is scrolled. however, if the page has not reached the full height, it wont work and that why we all are here.

[2020-02-15 07:38] ertemishakk commented on #47
for those who are having the same issue, setting the minHeight of parent component may solve.

[2020-02-18 22:40] matheusAMDS opened #174 "I cant load my posts!"
I want to build a never ending infinite scroll, but it doesnt load my posts when it starts. Even when i use useEffect to load some at the beginning, it looks like the next property doesnt load more.
[code]

[2020-02-19 03:33] #174 closed

[2020-02-23 01:49] pgooch opened #175 "endMessage no longer working"
I have been unable to get the endMessage parameter working. I have a fairly basic setup.

[code]
All other functionality works. I have confirmed that `hasMore` is being properly set to false once the first `loadMore` returned no results (as a side not you can't seemingly pass `hasMore` a function that returns a bool, which would be nice) I've tried passing endMessage a function that outputs a cons

[2020-02-23 21:28] pgooch commented on #175
I'm sorry I was getting things mixed with the similarly named https://github.com/CassetteRocks/react-infinite-scroller. This is a non issue.

[2020-02-23 21:28] #175 closed

[2020-03-01 18:11] mhel14 commented on #173
Same issue with me, it only works twice and it doesn't fire the scroll event anymore after.
so I was able to fetch twice only.

[2020-03-04 13:28] dante-blitz commented on #173
Same here. Items are being appended to an array.

[2020-03-05 11:11] shilangyu commented on #167
Can't reproduce it. Any steps that can be followed?

[2020-03-06 06:46] bisu8018 commented on #167
Do you even use "@types/react-infinite-scroll-component"?

[2020-03-06 07:13] shilangyu commented on #167
There is no need, types are included with the package

[2020-03-11 17:55] izeau commented on #173
Just had this “bug” myself. The culprit is [in the `componentWillReceiveProps` method](https://github.com/ankeetmaini/react-infinite-scroll-component/blob/4536256b51639b2a67e0069ac6e419e6d354cf2b/src/index.tsx#L140).

The `actionTriggered` property will never get updated if neither the `dataLength` nor the `key` props change. So you can either keep on appending results to the `children` array (to

[2020-03-17 16:04] groupsky opened #177 "Warning: key is not a prop"
After upgrading I get the warning from react about using a [special prop](https://reactjs.org/warnings/special-props.html):

[code]

Introduced in #88, but it is always `undefined`. The reason the list is refreshed, is because the parent component will recreate the `InfiniteScroll` on change of key.

[2020-03-23 20:28] rosbel commented on #125
@YassienW we're seeing a very similar issue. The issue for us occurs after pull to refresh, scrolling down will refetch data

[2020-03-23 22:06] YassienW commented on #125
I don't think this is getting fixed. I ended up creating my own implementation, fairly straight forward.

[2020-03-24 02:07] kirasiris opened #179 "Not loading correct # of obects when there's only one left to fetch."
Hello, this is actually my first time implementing this library and let me tell you, it is incredible!.

However as I soon as I decided to test it, I got an error on my end and the thing is, let's say, I have 11 posts in total. The first page loads 5 then I scroll down, it fetches 5 more, there is still one post left which is not fetched.

Not problem at all, I mean is just one single post but the

[2020-03-24 22:43] juniorbatistaRD opened #180 "No prop for customization of outer div"
This provoke styling issue when the parent dom element need custom styles.

Here for example I tried to make the component  width 100% but the class name is not apply to the outer div.

![image](https://user-images.githubusercontent.com/31187922/77483719-39153280-6dff-11ea-8e48-607f6c596e46.png)

[2020-03-25 01:27] #179 closed

[2020-03-26 18:36] riddhiparekh opened #181 "scrollableTarget using refs"
Hi, i am having trouble with multiple scrolls issue.
I am wrapping infinitescroll component within react-perfect-scrollbar component for styling.
But unfortunately it does not provides option to pass id.

[code]

How can i set scrollableTarget to perfect scrollbar div?
As currently on scroll it is not loading data for next batch.

[2020-03-29 16:01] zbiwi opened #182 "custom id div for each results"
Hello,
is it possible to put the results in a div with a custom id and, with each call (next function) put the new result in another div etc
Thanks :)

[2020-04-02 21:18] ElixirMike opened #183 "Should this work in a functional component?"
I am trying to implement this in a functionali component, but it's not working. should it work or does it only work from class based component?

[2020-04-04 18:23] mwalol commented on #85
i confirm it doesn't work with this current version 5.0.4

[2020-04-04 20:38] KanzakiYui commented on #183
Yeah same here, using in a functional component, failed to work!

[2020-04-05 11:39] RomanShabanov commented on #183
It works just fine with the functional component.

https://codesandbox.io/s/vigorous-borg-khsq3

[2020-04-05 11:51] RomanShabanov commented on #182
You could store data in two different variables.

[code]

[2020-04-05 15:06] ElixirMike commented on #183
Stange, it's not working for me. Is there an issue when using it in a modal? That's how I'm trying to implement it.

[2020-04-06 12:43] Math3v opened #184 "[Violation]: Added non-passive event listener to a scroll-blocking event."
Google Chrome generates a Violation warning in the console when the component is instantiated.

Google Chrome: Version 80.0.3987.149 (Official Build) (64-bit)
react-infinite-scroll-component: 5.0.4

I think the `addEventListener`s need to pass `passive: true` option as described in: https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md#solution-the-passive-option

There might be

[2020-04-09 18:25] heniotierra commented on #183
I'm also having problems using this lib inside a modal with functional components. The `next` function is not being called. I'm using Material's modal component.

[2020-04-10 14:05] gtelljohann commented on #166
For anyone still experiencing this issue even after trying what was suggested, make sure that if you're still on React v15 that you use v4.5.3 of this library.  Running the latest version of this library with React v15 produces the same bug that is described here

[2020-04-13 14:53] brunnohofmann commented on #183
@heniotierra  I had the same problem, but only if my data has no enough data (only 4 objects) to activate a scrollable window. Try to reduce your navigator height.
Im still trying to solve this problem.

[2020-04-21 16:58] davidpelayo commented on #183
Same issue here. My next function isn't being called correctly, as @heniotierra

[2020-04-24 08:13] rhuanbarreto opened #185 "next() not fired if number of items doesn't overflow the container"
See demo on https://codesandbox.io/s/upbeat-payne-hw269

If the number of loaded items does not overflow the parent container, the next function is not called because there won't be any scroll event.

[2020-04-24 09:49] ankeetmaini commented on #185
This is the behaviour.

On Fri, Apr 24, 2020 at 1:43 PM Rhuan <notifications@github.com> wrote:

--
*Ankeet Maini*
*"Just when the caterpillar thought the world was over, it became a
butterfly!"*

[2020-04-24 22:10] AmitNeuhaus commented on #140
Im still seeing this warning when using the official npm install package.
am i doing something wrong?

[2020-04-25 09:44] rhuanbarreto commented on #185
But do you think there is a way to trigger next if hasMore is true and the height of the div is less than the parent element?

[2020-04-28 21:02] russiandobby opened #186 "Does this work if our initial data set is large?"
My  issue is what if our initial array is long, say 150 elements, how can i make it that it only shows 20 elements at a time? I been playing with the first infinite scroll example but when i set `items: Array.from({ length: 150 })`, llazy just load those 150 elements and then it lazy loads the rest, how can i make it so that it only loads chunks of 20?

[2020-05-12 11:27] atellezsazo commented on #183
Same issue here

[2020-05-12 11:30] ankeetmaini commented on #183
For `next` function to be called your component needs to have enough rows to force a scroll. The component attaches a listener on `scroll` and then calls the next function. You can try by fetching enough records to cause a scroll.

[2020-05-12 11:31] ankeetmaini commented on #183
Closing this issue as `Functional` components work too. Please open another with a repro. Thanks  :)

[2020-05-12 11:31] #183 closed

[2020-05-12 19:34] njagsarran-pm commented on #179
Did you find a solution? I'm having the same problem

[2020-05-18 20:02] deepal commented on #180
Yeah, this is painful. All I could do was adding a style like this to override it:

[code]

[2020-05-19 19:48] vemundeldegard commented on #57
Need this!

[2020-05-22 03:14] glhfwp opened #188 "When the refresh data is [], the page will be refreshed by clicking/drag"
When the refresh data is [], the page will be refreshed by clicking/drag/drop...

https://codesandbox.io/s/falling-architecture-gb1zt?file=/src/index.js
[code]

[2020-05-24 17:17] NithinRauj commented on #140
Hey @ankeetmaini  I am also getting the same warning message.So I tried doing this fix but I couldn't find a  lib folder in my node_modules.So how to fix this error ? By the way I also used the official npm package.

[2020-05-26 17:03] OmarMoataz commented on #186
Hi, russiandobby.

This should work even if the dataset is too large. You just need to keep the data in a separate array and then append to the main array (the one that's responsible for holding the data being rendered) as the next function gets called.

[2020-05-26 20:28] OmarMoataz commented on #121
The problem with this solution is that it breaks on mobile since the screen height is smaller.

[2020-05-27 08:13] kumawatanupriya commented on #62
@rajivhbk Did you solve it?  I am also facing the same issue, I am using react infinite scroll.

[2020-06-01 04:15] xahshengx commented on #188
same issue, seems like after pull down to refresh, it remains at release to request. Hence triggering call for every click/touch

[2020-06-02 12:15] CryceTruly commented on #57
need this

[2020-06-02 12:52] xahshengx commented on #188
This is because componentWillReceiveProps will not update pullToRefreshThresholdBreached state to false if data.length is not changed.

Made a pull request, but got a feeling nobody's looking at it.

#189

[2020-06-02 14:46] geoffreyteng commented on #188
fix for this has been merged and released #190

[2020-06-04 15:20] kdydo commented on #47
this library does it for you:
https://github.com/danbovey/react-infinite-scroller

[2020-06-08 13:17] glhfwp commented on #188
Thanks so much

[2020-06-08 13:17] #188 closed

[2020-06-10 06:31] akkisagiraju commented on #140
Using this in strict mode is resulting in a warning message.

`Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code.`

[2020-06-11 21:51] douglasrcjames commented on #57
Also was looking for this in a library when looking for a chat solution, bumping

[2020-06-12 09:39] leonh opened #192 "[DOCUMENTATION] pull down to refresh is not working with example code current version 5.0.5"
Just in case someone else is testing this library.
Needed to add the following prop to reduce the refresh threshold.

`pullDownToRefreshThreshold={50}`

The default threshold of 100px was never reached on chrome on mac and on ios safari.

[2020-06-14 20:27] mac- commented on #185
This one triggers automatically and has almost the same functionality: https://github.com/danbovey/react-infinite-scroller

[2020-06-15 07:29] rhuanbarreto commented on #185
Good! I'm moving to it now. Closing the issue.

[2020-06-15 07:29] #185 closed

[2020-06-17 06:05] daggmano commented on #177
Can this property be renamed to `dataSetId` (or something else) rather than `key`?

[2020-06-17 12:13] jaloplo commented on #124
Me too.
React 16.8.8

[2020-06-17 12:14] ankeetmaini commented on #124
Can you give a reproducible example?

[2020-06-17 12:15] ankeetmaini commented on #192
Up for creating a PR to update the docs?

[2020-06-17 12:16] #186 closed

[2020-06-17 12:17] #182 closed

[2020-06-17 12:18] ankeetmaini commented on #177
PRs welcome!

[2020-06-17 12:18] #167 closed

[2020-06-17 23:28] daggmano commented on #177
Turns out that adding the `key` prop was not actually necessary in the first place. React automatically re-creates the component on key change anyway...

[2020-06-18 15:14] PhilippSh opened #196 "Next is not being fired if container doesn't have height set."
Is it possible to fire data loading without setting the exact `height` on the `ref`? For me it doesn't fire unless I explicitly tell that the container height is static. Even `onScroll` event is not firing. Is there any solution for that?

[2020-06-23 13:57] mrtheyann commented on #50
Still a problem, actually

[2020-06-24 10:47] reececasey commented on #192
Great thanks @leonh this just saved me.

@ankeetmaini Should this be added to docs or is it a bug if the 100px won't work?

[2020-06-24 12:25] pucitos commented on #184
i have the same problem

[2020-06-24 14:14] brunoqs opened #197 "InifiniteScroll component wrapping material UI Grid"
When i using a grid component inside InfiniteScroll component, its only show one item per row, even though i want to show 5 item per row, it doesnt work.

[code]

[2020-06-27 10:51] baeteja commented on #57
Bump

[2020-06-28 15:18] samuel-knutson commented on #197
I had the same issue with the Grid component from semantic-ui-react. I was able to get it working by setting the semantic-ui class names directly instead of using semantic-ui-react. Specifically, I (1) set `className="ui grid"` on the `InfiniteScroll` component and (2) set `className="two wide column"` on the item itself. I have not used material UI, but perhaps you can do something similar.

[2020-06-29 11:51] brunoqs commented on #197
to make this work with material ui i need to wrap all Grids components with the InfiniteScroll component, like that :
[code]

[2020-07-01 08:37] yozana commented on #173
Tried all suggested options, same problem still: data is fetched once (functional component, using a call from React.useEffect, but next is never fired.
working with Material UI components, which is fully wrappted, as suggested in other open issue.

[2020-07-01 13:22] Endeauvirr commented on #57
Bump as well - that would be a great feature!

[2020-07-01 14:35] rhuanbarreto commented on #196
Duplicate of #185 . I'm trying to make a workaround for it. The core of the issue is in the [`isElementAtBottom`](https://github.com/rhuanbarreto/react-infinite-scroll-component/blob/c115356a40094ad4e0b4f3bb4386ad8281deae9d/src/index.tsx#L242) function of the component. It should declare itself at bottom once `hasMore` is true.

@ankeetmaini says that this is the behavior of the component. Period.

[2020-07-02 16:43] roxdavirox commented on #57
I need this :(

[2020-07-03 17:26] diliGp commented on #173
I had the same issue, and I did change the `dataLength` to the number of currently shown item. Instead of putting the max length.
And its working now.

[2020-07-04 05:20] Fredmensah opened #198 "Component does not refresh when array length changes"
`import React, {useState} from "react";
import Grid from "@material-ui/core/Grid/Grid";
import AddedIcon from "../../../../../components/ClickableIcons/AddedIcon";
import AddIcon from "../../../../../components/ClickableIcons/AddIcon";
import ProductCard from "../../../../../components/Cards/ProductCard";
import InfiniteScroll from "react-infinite-scroll-component";

const ProductsView = (props) =

[2020-07-06 00:57] kpc0511 commented on #57
I need this for chat. Any update?

[2020-07-06 08:44] gresbtim opened #199 "just wanna say thanks for this coponent. amazing work"
:heart: :heart: :heart:

[2020-07-06 18:05] ankeetmaini commented on #199
Thank you much ❤️

[2020-07-11 06:53] ritvikjain99 opened #200 "Data doesn't load in chrome."
I am a MacBook user, in chrome when I scroll down the data doesn't load, but when I open console at bottom that is when the page height decreases, it starts working fine !
Kindly help me out !

[2020-07-22 09:50] omritelem commented on #80
same problem also.. thanks!

[2020-07-23 20:31] compassmatt commented on #200
This is also happening for me as well, it works in safari but not chrome.

[2020-07-31 18:43] jvleon commented on #171
is also happens if the height of the window is too large and the initial data is not enoght to fill the window, then the data is never loaded, its only shows the loading... param

[2020-08-03 16:27] Hrach2003 opened #203 "error: UNSAFE_componentWillReceiveProps in strict mode is not recommended"
I am using
   react 16.13.1
   react-infinite-scroll-component 5.0.5

error:   Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memor

[2020-08-10 04:27] jpmayorga commented on #57
HEY! :( We need this update :(

[2020-08-11 18:14] aldo1400 commented on #57
same here :(

[2020-08-12 04:02] Juliomerlos commented on #23
I think this is not a real solution because wrapping the infinite scroll with a div with overflow:hidden makes the infinite scroll stop working and you hace to implement many other things, which is the reason you are using infinite-scroll-component.

[2020-08-14 03:02] LombaxTech commented on #57
I need an upward scroll aswell please.

[2020-08-18 22:10] bethshook commented on #22
I had this issue too and just added a conditional:
[code]

[2020-08-24 18:19] adamsrobw commented on #171
i came here with this issue.  if your first load doenst generate a scrollbar,  what do you do?

[2020-08-30 15:25] ramyNiranjan commented on #203
Hi
I'm using same verion and get same error massage.

[2020-08-30 17:32] kaungmyatlwin commented on #173
@diliGp You're a life saver. I think the docs should clarify more about `dataLength` and what it does..

[2020-09-01 10:41] woodxxman commented on #173
please try old version: 4.5.3. I also find this problem with react version: 15.3.2
then i tried the version 4.5.3 in codesandbox. It works. but >5.0.0 not working

[2020-09-02 04:30] Sameedkhan25 opened #204 "Question regarding initialScrollY prop"
as mentioned in the docs if i want to set a scroll position, for example
if I have a list of 50 items and want to scroll to the 30th item when the component is render

is there anything I can do for that?

[2020-09-02 09:28] ilitvinovich commented on #57
I'm gonna use another component just because this doesn't have an upward scroll

[2020-09-02 12:44] JoiGud commented on #204
I was also trying this in CodeSandbox (https://codesandbox.io/s/hungry-surf-112i3?file=/src/index.js). Doesn't seem to work (or I'm missing something) 😅

[2020-09-02 13:02] ankeetmaini commented on #204
I think you guys are right, it should scroll in the y direction with the value passed.

Problem is this condition, without this it should work just fine.

https://github.com/ankeetmaini/react-infinite-scroll-component/blob/de6e954a7f9c27fe0834eb665f6224e918b6cbef/src/index.tsx#L89

[2020-09-02 16:26] carlpadilla commented on #203
Also getting this same error.

[2020-09-04 05:41] Sameedkhan25 commented on #204
@ankeetmaini
can you fix that in next release

[2020-09-04 10:15] rotem12345678 commented on #171
I have the same issue,
If you change in the example code from 20 div to 5, it will never load the data...

https://codesandbox.io/s/wandering-worker-6iyj0

https://codesandbox.io/s/ecstatic-dream-iy5sz

[2020-09-05 18:56] romadryud commented on #203
Hi also get this error.

[2020-09-05 20:49] axeljeremy7 commented on #204
https://codesandbox.io/s/eloquent-breeze-5vb4b?file=/src/index.js
you have to specify height

[2020-09-08 10:59] Sameedkhan25 commented on #204
@axeljeremy7 well thanks for the response
i have tried this in my scenario but its not working in my code
I know its strange but your help will be highly appreciated

 <InfiniteScroll
                  style={{ overflow: "hidden" }}
                  dataLength={
                    this.state.tableRows && this.state.tableRows.length
                  }
                  next={

[2020-09-08 12:58] axeljeremy7 commented on #204
The initial scroll works like height of the row multiple by a number of how many rows you want to forward. The trick is to know ahead of time the height.

https://codesandbox.io/embed/eloquent-breeze-5vb4b?file=/src/index.js&codemirror=1

[2020-09-09 10:22] Hermanissimo commented on #200
If container height is bigger than content height, it can not trigger data load.
Right now there's no solution, only thing is load upfront more items to have a scroll for sure.

https://github.com/ankeetmaini/react-infinite-scroll-component/issues/121#issuecomment-582852620

[2020-09-11 09:53] Sameedkhan25 commented on #204
@axeljeremy7 i am using mdb react for table, they have pre defined height of rows
https://mdbootstrap.com/docs/react/tables/basic/#docsTabsAPI

I am doing the same thing as you described earlier, I am kinda stuck here don't know what to do
any type of help is appreciated
thanks

[2020-09-12 03:26] osmarpb97 commented on #57
@joserivera12 and I made a pull request with this functionality. pullhttps://github.com/ankeetmaini/react-infinite-scroll-component/pull/207

[2020-09-12 03:29] osmarpb97 commented on #120
@joserivera12 and i made a pr to make this you can check in https://github.com/ankeetmaini/react-infinite-scroll-component/pull/207

[2020-09-12 05:29] ankeetmaini commented on #57
Wow that's fantastic! I'll check this today!

On Sat, 12 Sep, 2020, 8:56 am osmarpb97, <notifications@github.com> wrote:

[2020-09-13 06:09] #177 closed

[2020-09-13 06:10] ankeetmaini commented on #125
This should be fixed in the latest version. Please reopen if it's still there.

[2020-09-13 06:10] #125 closed

[2020-09-13 06:10] #140 closed

[2020-09-13 06:11] ankeetmaini commented on #120
This is now added in the latest version. Thanks to @osmarpb97

[2020-09-13 06:11] #120 closed

[2020-09-13 06:14] ankeetmaini commented on #24
Scrolling up has just been added to the latest version. Although both directions feature doesn't exist. Please open a separate issue if you want it added. PRs welcome too :)

[2020-09-13 06:14] #24 closed

[2020-09-13 06:14] #104 closed

[2020-09-13 06:14] nishalk01 commented on #72
Thanks that helped a lot

[2020-09-13 06:16] #47 closed

[2020-09-13 06:17] ankeetmaini commented on #49
We just merged the up direction scroll support. This issue is quite old, do open a fresh one and PRs welcome too :)

[2020-09-13 06:17] #49 closed

[2020-09-13 06:17] ankeetmaini commented on #57
This feature has landed in the latest version :)

[2020-09-13 06:17] #57 closed

[2020-09-13 13:00] sulaiman1073 opened #208 "Infinitely scrolling both up and down."
Would be essential for things like chat.

#24 #49

[2020-09-13 13:16] #119 closed

[2020-09-13 13:18] #70 closed

[2020-09-13 14:46] AsebWebDev commented on #203
+1

[2020-09-14 13:13] mserranom opened #209 "Inverse scrolling not working in example"
Tested in Chrome 85/Mac, the `ScrolleableTop.tsx` example is not working. I'm unable to scroll through the example.

https://github.com/ankeetmaini/react-infinite-scroll-component/blob/e5863aa61d0d161cbe1231722e0321fa7d0764e1/src/stories/ScrolleableTop.tsx

See codesandbox:

https://codesandbox.io/s/cool-cori-s75k2?fontsize=14&hidenavigation=1&theme=dark

[2020-09-14 16:56] osmarpb97 commented on #209
Hi! @mserranom you can post some pics?

[2020-09-14 17:07] osmarpb97 commented on #208
I will try this the next week!

[2020-09-14 17:42] osmarpb97 commented on #209
![image](https://user-images.githubusercontent.com/36203999/93119444-714b4e80-f687-11ea-9b89-8c5f6f0288a5.png)
I couldt reproduce the error I tried it in broswerstack emulating a mac and version 85 of chrome and everything seems to run as it should

[2020-09-14 17:43] osmarpb97 commented on #209
Did you scroll over the div? or on the body?

[2020-09-14 21:01] wcauchois opened #210 "Have pull down to refresh content stay visible while the component is refreshing"
Hi,

First of all thanks for this amazing library! I have a question. Right now, as soon as you release after pulling down to refresh, the PTR content gets hidden again above the page. Is it possible to have the PTR content stay visible while the page is refreshing? I.e. 50px of content would be displayed, with some animated loading spinner, then when loading is finished that content disappears. H

[2020-09-17 08:03] Imferal commented on #203
I have the same...

[2020-09-18 01:18] hartman42 commented on #203
Yeah, I get that too... are you guys using it in a function component as well?

[2020-09-18 08:21] mserranom commented on #209
Seems it's working, I would swear I tried scrolling in many different places 😓
Thanks!

[2020-09-18 08:21] #209 closed

[2020-09-18 09:17] Imferal commented on #203
Yes exactly. Do you think it matters?

[2020-09-23 14:17] Deivaras commented on #203
Hey guys, is anything done about this?

[2020-09-24 18:15] roxdavirox commented on #57
I just merged 2 scroll components. hahahaha

[2020-09-25 02:44] maxwellgerber commented on #196
My workaround for this was to add a child div with
[code]
That way, there's always a child element off screen.

[2020-09-27 18:49] gittestfor opened #211 "Scroll function doesn't run whenever the first fetch request is not ran ."
I fetch the first data and set them on a redux state .

`import Axios from 'axios';
import React from 'react';
import { NavLink } from 'react-router-dom';
import InfiniteScroll from 'react-infinite-scroll-component';
import { callAction, fetch } from './redux/action';
import { connect } from 'react-redux';

function Posts(props) {
	const [ len, setLen ] = React.useState(null);
	const [ start, setS

[2020-09-29 17:16] duarte-evocorp opened #212 "The up-scroll function"
The up-scroll function is not calling the function to load more data, put a working example of the up-scroll.

[2020-09-29 17:23] duarte-evocorp commented on #173
Aguem already saved the scroll up?

[2020-09-29 17:32] duarte-evocorp commented on #212
When I put it to roll up, it loads all the dice and goes up there to the top, and doesn't keep scrolling up.

[2020-09-29 17:47] ankeetmaini commented on #212
Can you please check the example hosted [here](https://react-infinite-scroll-component.netlify.app/?path=/story/components--infinitescrolltop) and the source here https://github.com/ankeetmaini/react-infinite-scroll-component/blob/master/src/stories/ScrolleableTop.tsx

[2020-09-30 04:57] 0x0006e opened #213 "warp items always show loading"
![image](https://user-images.githubusercontent.com/18499153/94644712-9d6bfe00-031c-11eb-95c2-c7a85cd9394e.png)

https://codesandbox.io/s/hopeful-sunset-ds5fg

[2020-09-30 05:00] ankeetmaini commented on #213
You've hardcoded `hasMore` attribute to `true`. This should generally be dependent on whether you've more records or not. Also try to keep the initial list of items large enough to have a scroll. Otherwise, the component will not cause fetch of next items.

I'm closing this please reopen if you still face issues.

[2020-09-30 05:00] #213 closed

[2020-09-30 09:52] moecantplay commented on #62
i am facing the same issue where scrollableTarget isn't working as expected.

[2020-10-02 17:05] mrtheyann commented on #208
Any updates on these?

[2020-10-06 15:48] neetigyachahar commented on #117
Anyone can test the prop just by adding the prop to the sandbox code provided in npm page.
[https://codesandbox.io/s/exciting-hodgkin-dhoxv?file=/src/index.js](url)

[2020-10-06 21:30] deepal commented on #212
@duarte-evocorp I had the same problem, but silly me was using an older version of the library. You need to use 5.1.0 or later for this.

[2020-10-09 16:35] jud3v opened #214 "Infinite scroll called once"
Hello I'm using your package for have infinite scrolling but they will be activated once time.

I have follow your code sandbox here: [code sandbox](https://codesandbox.io/s/yk7637p62z) but I don't know if I'm using well your package.

I want to infinite scroll my products in a pages called market

This is that I have do

[code]

My code will fetch data once but not more, and I don't know why.

[2020-10-09 16:37] #214 closed

[2020-10-12 12:00] b4l4zs opened #215 "hasMore prop is being ignored"
The next function doesn't get called if the data length didn't change after the previous call, even though I pass true to the hasMore prop.
I want the next function to be called even if the data length didn't change after the previous call.

[2020-10-12 16:34] jud3v opened #216 "scroll a little and all next will be called"
Hello I'm using your library and I want to load my next products one time if the screen has run 50% of previous products.

Now with the following code, product will be loaded yeah, but them will be loaded like infinite if I'm in the down of the screen,
but I want to only load one row and not every row from my api   😅.

If I miss anything I will be happy to told me what wrong in my code, Thanks !!

[2020-10-12 19:13] #216 closed

[2020-10-14 14:53] jedster1111 opened #217 "Unable to load more results when initial list loaded is smaller than container"
Hi, really liking the library.

https://codesandbox.io/s/distracted-bogdan-zhcit?file=/src/index.js
The above is a working example of inverse scrolling within a fixed height container of 300px.

If you modify the height (line 35) to 800px you'll see an initial load that looks like:
![Screenshot 2020-10-14 at 15 48 50](https://user-images.githubusercontent.com/25291974/96005849-c6b87e00-0e34-11eb-9

[2020-10-15 22:05] ianizaguirre commented on #90
When I inspected the component I saw that it had a classname "infinite-scroll-component". So I did not need to add a class or id anywhere, I just used the class it had been built with.

This Works for me:

[code]

[2020-10-16 13:04] msd117 commented on #214
did you resolve this ?

[2020-10-16 13:06] jud3v commented on #214
Hello @msd117 I don't nope but I have follow another one tutorial and them is better than this problem.
If I retrieve the link I will give you.

[2020-10-18 02:06] ozcanonur opened #218 "Scroll top in inverse fires next when scrolling bottom"
See [https://react-infinite-scroll-component.netlify.app/?path=/story/components--infinitescrolltop](url)

[2020-10-18 14:15] git-hafizh commented on #203
i just get this error, how can i fix this?

[2020-10-18 19:09] Deivaras commented on #203
As I said in a message above go with react-infinite-scroller

[2020-10-19 21:01] #218 closed

[2020-10-20 15:19] gynekolog commented on #203
There's still open PR https://github.com/ankeetmaini/react-infinite-scroll-component/pull/178 which can solve this issue.
PR is waiting for you @ankeetmaini .

[2020-10-21 13:18] EldinZaimovic commented on #180
Prop will be great here

[2020-10-21 23:41] Lesleytech commented on #72
Thanks a million. This solved the problem

[2020-10-22 05:46] msd117 commented on #214
Thanks @jud3v will try this

[2020-10-22 12:54] Septillioner opened #219 "ScrollableTarget issue"
When scrollableTarget's scrollHeight equals to  scrollableTarget's clientHeight that means scroll disabled. 'next' props function is not triggering. This causes more data not to be fetched from the server.

[2020-10-22 16:09] Justin2997 commented on #219
Hi  @Septillioner I think I have fixed an error close to this one. Can you post an example, I don't fully understand your issues.

[2020-10-23 16:12] salatielq opened #220 "Inverted scroll list is not triggering next function"
I'm trying to use react-infinite-scroll-component to create a chat where the newest messages are at the bottom so if the user scrolls to the top it loads the old messages.

So I just copied the CodeSandbox example and tried to invert the scroll as [documented here](https://github.com/ankeetmaini/react-infinite-scroll-component#using-scroll-on-top) but the `next` function is **NOT** been triggered

[2020-10-26 17:53] brechtwaeghe commented on #220
Hi,
I had the same issue, just change your package json to the latest version 5.1.0 & it will work.

[2020-10-26 22:31] ADCrouch commented on #217
@jedster1111 I'm having the same issue, did you find a solution?

[2020-10-27 04:07] jedster1111 commented on #217
@ADCrouch I ended up figuring something out, tried to recreate it in CodeSandbox. It's a little bit rough around the edges and I couldn't test the window resizing part but it should be a good enough starting point.
https://codesandbox.io/s/vibrant-shannon-05o50?file=/src/Scroller.tsx

The logic is really just, if I'm not scrollable, there's still data to be loaded, and I'm not already loading, the

[2020-10-27 04:33] ADCrouch commented on #217
@jedster1111 What a great solution, thank you thank you thank you!

[2020-10-27 12:47] salatielq commented on #220
Thank you!!

[2020-10-27 12:47] #220 closed

[2020-10-28 10:57] ali-garajian opened #221 "pullDownToRefresh functionality causes a refresh when pulling down anywhere on the document"
I read some parts of the source code related to the pull down to refresh functionality, and from what I understood, a touchmove event listener is being added to the root element.
My problem is that I want pullDownToRefresh to only be triggered when I pull down on the InfiniteScroll element itself, not when I pull down anywhere on the document, and I think this would be a pretty reasonable behavior

[2020-10-29 08:45] hennadiy-kudashev commented on #80
You can do
`<InfiniteScroll style={{ overflow: undefined }}>`
or
`<InfiniteScroll style={{ overflow: 'hidden' }}>`

[2020-10-30 19:02] WeslleyNasRocha commented on #203
there is a conflicting file in the pull request

[2020-11-01 11:52] oriamd opened #222 "next is being called on horizontal scroll"
When scrollableTarget has visible horizontal scroll and does **not** have vertical scroll.
Then scrolling sideway triggers next callback.

Code example:
https://codesandbox.io/s/red-lake-h48xh?file=/src/index.js

[2020-11-03 09:45] Septillioner commented on #219
I have a container named #wrapper. #wrapper doesn't have a scrollbar when not overflowed because "overflow-y:auto".
and we have a server to get rows of data(props next). We have a InfiniteScroll component that has a ScrollableTarget is #wrapper. The problem is when #wrapper is not overflowed on big resolutions(4K or 8K etc.) InfiniteScroll does not call the function props "next" when hasMore props

[2020-11-03 13:21] valkurash opened #223 "Inverse scroll triggers next function on scroll down"
https://codesandbox.io/s/trusting-frost-q6wjc?file=/src/index.js
next function is triggered due to `target.scrollTop === 0` condition in line 257 https://github.com/ankeetmaini/react-infinite-scroll-component/blob/9e5ac46ca55e94543b3ca4a1276a2d7ab96a8af5/src/index.tsx#L257 when you scroll to bottom.

When you use inverse scroll and scroll up to the page, target.scrollTop is negative value. I think

[2020-11-06 18:45] franciscohanna92 commented on #84
I think the className support fix doesn't addresses this ticket.

The use case for rendering other element than `div` for the wrapper can be observed in tables. If you try the following structure:

[code]

The following warning appears on the console:
[code]

Which makes sense, because you are basically violating the HTML spec for tables.

A better approch will be to allow the wrapper component to

[2020-11-10 16:08] Justin2997 commented on #219
I do not clearly remember my fix, but I have this problem. I think I change the library.

[2020-11-10 20:42] ghuffman opened #225 "Mysterious 0"
![image](https://user-images.githubusercontent.com/43155215/98731088-d0190580-2362-11eb-8167-bf8869b6c54a.png)

Any idea where this mysterious 0 might be coming from? Looking through source but it's not jumping out at me. Associated to endMessage, loading message doesn't add the 0.

Thanks for any ideas -

[2020-11-12 17:55] valdirviana commented on #223
Same problem here

[2020-11-12 22:51] sgehrman commented on #217
same issue

[2020-11-13 00:23] 2hands10fingers opened #226 "When adjusting the height of the window, loader is exposed but nothing will load"
I'll have a short window, and when I extend the height down to see more results, I get maybe a few that will show, but my loader which says "Loading..." will also be in view but refuses to load anymore data.
![Albertson_s_Supervisor](https://user-images.githubusercontent.com/1226929/99012390-e1554400-2513-11eb-90c8-6a8de305ac1c.png)

What's the best way to handle this?

[2020-11-13 04:37] theromis opened #227 ""load more" triggers only in "fullscreen" mode"
Trying to use it on master/detail adaptive interface but it not triggers load function if browser opens and react-media uses "both sides"
example in this repo
git@github.com:theromis/react-master-detail.git

[2020-11-14 18:27] shreeyansh-b commented on #223
You found any fix for this?

[2020-11-16 19:43] ali-garajian commented on #221
SOLUTION:
For anyone who might be experiencing the same issue, the fix is to set the `scorllableTarget` property.
[code]

[2020-11-16 19:43] #221 closed

[2020-11-17 08:56] FadiAboMsalam commented on #208
we need this as well

[2020-11-19 11:38] vrg-success commented on #223
I have some problem, OMG the package has weekly Downloads 114 055, and fix the problem is so ease just add corrections for method isElementAtTop
[code]

[2020-11-22 13:28] fourbytes commented on #84
:+1: Just come across this issue too, being able to use tbody as the element type would be great.

[2020-11-24 19:45] guilhermecastro-hotmart commented on #223
any update?

[2020-11-25 03:46] valtism commented on #80
Thanks @hennadiy-kudashev, this fixed my issue of sticky headers not working within the infinite scroll.

[2020-11-25 14:07] muffypl opened #228 "Bug: Jumping scroll on Chrome 87"
react-infinite-scroll-component version: 5.1.0

## Description
I'm using bootstrap's border spinner as a loader component. After updating Chrome to version 87 I noticed jumping scroll inside the `.infinite-scroll-component` element. I changed the border spinner to the growing spinner for now.

## Example
I modified the original demo:
https://codesandbox.io/s/quirky-dust-z3jp1

![image](https://use

[2020-11-27 06:45] luchn49 commented on #223
Same problem.

[2020-11-27 12:06] IcanDivideBy0 commented on #225
this can happens with React when you do someting along the lines:
[code]

when `myArray` is empty, `myArray.length` is 0, thus is falsy, but 0 is returned to react tree, which display 0

[2020-11-27 13:10] pearlpandz commented on #203
Is this issue fixed? or still open?

[2020-11-30 11:18] ibrhm-mnf-fingent commented on #228
@muffypl use style={{ overflow: 'hidden' }}

[2020-11-30 14:11] mezhanglei commented on #228
try another components `react-awesome-infinite-scroll`

[2020-12-03 08:27] lossen opened #229 "How to use infinite scroll with custom scroll library?"
I'm using this lib https://github.com/KingSora/OverlayScrollbars for customizing scrollbar and want to use infinite scroll.
Infinite scroll works fine without a custom scroll lib. But I need to use both these libs.
I tried to set scrollableTarget with id of the custom scroll but it doesn't work.
Please help.

[code]

[2020-12-04 14:01] Nishchayverma commented on #173
Works perfectly, thanks

[2020-12-06 14:12] mezhanglei commented on #227
you can try another component `react-awesome-infinite-scroll`

[2020-12-08 12:08] spbo opened #230 "fetching new item send the scrollbar to the top"
Hello,
When I fetch my next data, the scrollbar is going back to the top and not stay in the last item and continue from there. I follow the same concept as the first demo provided in readme.md.

Here's the [sandbox](https://zd42u.csb.app/) with the problem? Is there something perhaps I missed?

[2020-12-14 01:11] xyide commented on #225
I've encountered the same thing and due to the same reason that @IcanDivideBy0 mentioned.  To resolve it, use the !! feature like so to force a boolean instead of a falsy value.
[code]

[2020-12-14 09:16] IcanDivideBy0 commented on #225
Or to make it more explicit
[code]

[2020-12-14 12:36] ghuffman commented on #225
Thanks everyone, exactly what I needed

[2020-12-14 15:11] JilMuriel opened #232 "Infinite Scroll not more data when using a custom scrollbar"
Hi, I really like this library.

I'm trying to use this library with a custom scrollbar but when scrolling at the bottom the function that loads more data does not work

[https://codesandbox.io/s/infinite-scroll-w-custom-scrollbar-igdyk](url)

**App Component**

[code]
**Scrollbar Component**
[code]

What's the best way to handle this?

[2020-12-14 16:14] AlaDouagi commented on #218
@ozcanonur The link you posted doesn't refer to anything relevant, please clarify how to overcome the bug.

[2020-12-14 16:36] AlaDouagi commented on #208
Still facing the same issue on version ^5.1.0

[2020-12-15 20:16] blainelawson commented on #208
This would definitely be helpful. Any update?

[2020-12-15 22:07] DemonicEgg opened #234 "Pull to Refresh"
Can we get an option to attach pull to refresh to the scrollableTarget so that the pull to refresh content shows at the very top of the screen?

[2020-12-16 08:51] AlaDouagi commented on #223
Facing the same problem on version ^5.1.0 :disappointed:

[2020-12-16 14:36] AlaDouagi commented on #223
@ankeetmaini I just opened a [PR](https://github.com/ankeetmaini/react-infinite-scroll-component/pull/235) to fix this issue, please review it and merge it if everything is OK :pray:

[2020-12-16 18:48] DemonicEgg opened #236 "Pull to Refresh is disabled when hasMore is flipped to false"
[code]

When this.state.hasMore has changes from true to false after reaching the bottom of the page, pull to refresh seems to get disabled

[2020-12-18 07:44] newpost opened #237 "how to TransitionGroup?"

[2020-12-23 00:23] oeclint commented on #228
style={{ overflow: 'hidden' }} worked for me. But i'm still wondering if this is a bug.

[2020-12-23 10:16] KristenWilde commented on #232
I had this issue as well, but a few changes to the css fixed it. If I remember correctly, the important things were:

- Don't set the overflow property of the scrollable element to anything other than 'auto'.
- Don't set the max-height or the max-width.  Just setting the 'height' worked for me.

[2020-12-26 16:00] shweps13 commented on #203
+1

[2020-12-29 02:36] xiaomaxuetu opened #238 "Unable to run normally on WebView of Android 5.0"
![image](https://user-images.githubusercontent.com/13601433/103254796-bf2f5c80-49c1-11eb-9efb-b15cc3c7c454.png)

[2020-12-30 11:30] areeb-hub opened #239 "programmatically scroll to bottom/top"
Is there is any way to programmatically scroll to bottom or top or any workaround would also be fine?

[2021-01-05 06:51] sanddy-man commented on #203
+1

[2021-01-05 09:16] gynekolog commented on #203
New PR #224  without conflicts.
Waiting for @ankeetmaini

[2021-01-08 03:32] lixiaohulee commented on #230
hi  did you resolve this problem  i met the same as yours

[2021-01-08 08:44] spbo commented on #230
Hi! Unfortunately, I haven't.

[2021-01-11 00:15] Knat-Dev opened #241 "reversed column container with inverse on Infinite Scroll component calls next on scrollTop=0"
## Description
For the most part, the component works excellent and as expected.
I'm making a chat application as exercise, so I have the inversed option on.
My scrollable container (the immediate parent of InfiniteScroll component) has flex and direction of column-reverse.

## The problem
As can be seen below on the right side, after I scroll a bit to the top, and then scroll back down (scrollTop

[2021-01-11 11:15] Knat-Dev commented on #241
I managed to fix my issue.
first have a look at the returned JSX where the InfiniteScroll lays.

[code]

The default position of scrollTop was 0 and when scrolling up it would decrease into negatives.
when scrolling up and down again to 0, fetch would fire, which is not expected.
I found the following code inside index.es.js:
[code]

if anyone else has the problem I had, just remove the or conditi

[2021-01-11 11:15] #241 closed

[2021-01-12 13:50] igorarkhipenko commented on #29
@ankeetmaini Hey, have you ever found a solution for it? I'm having the same issue but the height of Modal component is not known before it gets rendered. I wonder if there's a way to use InfiniteScroll inside that in this case? Thanks.

[2021-01-13 02:17] ghuffman commented on #225
Setting hasmore to integer value instead of boolean caused the 0 to show up. Perfectly rational, docs are clear to use a boolean not integer. Posting in case someone else runs into. Thanks for above, it led me right to the issue.

[2021-01-13 02:17] #225 closed

[2021-01-14 03:31] dquanghuy4444 commented on #6
Thank u so much

[2021-01-21 19:50] nilesh-jagtap-patona commented on #72
----------------------

Thats awesome, helped me a lot, this was the exact mistake I was doing ... Thanks a ton man

[2021-01-22 22:02] compassmatt opened #242 "Infinite Scroll works on desktop, breaks on mobile."
Desktop works as expected, however on mobile the loader is at the bottom and the scroll never triggers the next function.  I also tested on just a smaller viewport, not a mobile impersonation and the same issue occurs.  Any advice on how to fix?

[2021-01-25 08:24] A-ANing commented on #236
I also encountered such a problem. Have you solved it

If 'inverse' is set to true, then 'endmessage' and 'loader' will not be displayed

[2021-01-26 09:48] demkovych opened #243 "Maintainers welcome!"

[2021-01-27 08:24] A-ANing commented on #236
I tried to change "inverse" to "true" with "setState" when "hasMore" is "false", but it failed, and "inverse" also lost its effect

Who can solve this problem?

Why can't refresh when hasmore is false

[2021-01-27 08:40] ankeetmaini commented on #243
If you depend on this project, please help and come forward to maintain this. Thanks so much.

[2021-01-28 15:47] compassmatt commented on #217
Also same issue.

[2021-02-02 13:00] vd-yasir opened #245 "Material-ui DataGrid not working"
Hi, I am trying to use this package with material-ui DataGrid but it's not working.
Please share some examples.

Thanks

[2021-02-06 04:11] vinodf2f commented on #243
HI, @ankeetmaini. Haven't used this package but would like to help.
Twitter handle : [YevatikarVinod](https://twitter.com/YevatikarVinod) .

[2021-02-07 01:09] hodev-dev commented on #203
save problem
[code]

[2021-02-07 01:24] hodev-dev opened #246 "scrollableTarget naming problem"
props should be lower case
scrollabletarget
[code]

[2021-02-07 04:47] ankeetmaini opened #247 "Roadmap 7.0"
We're going to make this library more awesome in 2021!

Here are some of the things we need to pick-up in the order (of most important)

1.  Triaging the existing issues and Pull requests (reduce the number of open issues and pull requests)
2. cypress e2e tests
3. unit tests with coverage > 90%
4. automated publish and build - right now publish to npm works on a very old github workflow which work

[2021-02-07 14:26] iamdarshshah opened #249 "🤖 integrate all-contributors bot"
- [ ] Install all-contributors bot to this repo - [docs](https://allcontributors.org/docs/en/bot/installation) [@ankeetmaini to update]
- [ ] Configure all-contributors bot - PR: #248 (InProgress)
- [ ] Add contributors details (Pending)

[2021-02-07 16:42] ankeetmaini commented on #249
Thanks this is done!

[2021-02-07 16:42] #249 closed

[2021-02-07 17:36] kanishk30 opened #252 "Raising an issue should have proper template for better understanding and pattern"
As a standard, we should have a set pattern for raising an issue in the repo.
As a volunteer, I will be sharing one in below comments. Others can pitch in as well.

[2021-02-07 17:48] kanishk30 commented on #252
@ankeetmaini - I would suggest going through the following link. We can have following template inplace which would help in streamlining the process.
https://docs.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

**Bug template -**

![image](https://user-images.githubusercontent.com/34736432/107154735-a475dd80-699a-11eb-9f49-893f53f19a7d.png)

**Feat

[2021-02-07 19:59] OriAmir commented on #203
Any news relate to that?
I still face that error on version 6.0.0

[2021-02-07 22:26] ZengLawrence opened #253 "Typescript Error JSX element class does not support attributes because it does not have a 'props' property. ts(2607)"
Getting typescript error from vscode: "JSX element class does not support attributes because it does not have a 'props' property.  ts(2607)".  See screen shot.

![Screen Shot 2021-02-07 at 5 24 01 PM](https://user-images.githubusercontent.com/30205297/107161236-598fa200-6969-11eb-8073-e111ae30b597.png)

react: 17.0
typescript: 4.1.2

Try example from the stories folder WindowInfiniteScrollComponen

[2021-02-08 03:56] ankeetmaini commented on #252
Totally agree!

[2021-02-08 06:57] kanishk30 commented on #252
so can u make the change? 😛
as It needs admin access to the repo to make the changes.

[2021-02-10 12:31] psrednicki commented on #196
Inspirated by @maxwellgerber I also added that workaround but by relative position and viewport values.
[code]

[2021-02-11 19:23] adarshlilha opened #254 "Add unit tests"
Add more unit tests in the library to cover all cases thus increasing code coverage

[2021-02-15 11:23] rafalkowalski commented on #226
@2hands10fingers I struggle with the same issue. Have you already found any solution?

[2021-02-15 18:02] akankshach29 commented on #254
Hey @adarshlilha I would also like to collab on this issue. Writing unit tests for the utils currently. If you haven't already done it can I open a new issue for that?

[2021-02-17 11:00] cagrispan commented on #181
Did you find a solution for that?

[2021-02-17 15:13] akankshach29 opened #255 "unit tests for utils"
Writing unit test for utils/threshold.ts
Reference: #254 and #247 point 3

[2021-02-18 13:44] vj-abishek commented on #242
I'm also looking for a fix

[2021-02-18 13:48] vj-abishek commented on #239
Check this  [Package](https://www.npmjs.com/package/react-scroll-to-bottom) for automatic scroll to bottom or top

[2021-02-18 14:38] vj-abishek commented on #246
It works fine for me. Check this example [Example](https://github.com/ankeetmaini/react-infinite-scroll-component#using-scroll-on-top).

Please provide your code, which is causing this issue.

[2021-02-19 06:44] vj-abishek commented on #242
Check this #87 issue

[2021-02-19 11:13] vj-abishek commented on #242
Here is an example https://codesandbox.io/s/peaceful-banzai-9sqfd

Test it on mobile. It works correctly on desktop but not on mobile

[2021-02-19 11:25] vj-abishek commented on #242
Also check this one https://codesandbox.io/embed/adoring-dhawan-js373?file=/src/index.js&codemirror=1

Only reverse infinite scroll is not working. Normal infinite scroll is working

[2021-02-19 16:24] toschlog commented on #198
I've run into this also.  I implemented a filter that can change the number of elements in the array.  When I clear my filter and the number of elements increases, react-infinite-scroll-component will never show the added elelments.

[2021-02-19 16:29] toschlog commented on #217
It would be super-nice if this logic were built in to react-infinite-scroll-component:  If the element isn't scrollable but more items are available, request more items.

[2021-02-19 19:53] adarshlilha commented on #254
Apologies for the delayed response, @akankshach29 please go ahead, I've the setup in place, will take up tests for another piece

[2021-02-20 11:28] vj-abishek commented on #242
Here is a quick fix [fix](https://github.com/vj-abishek/react-infinite-scroll-component/tree/mobile)

If you want to install this:
 `npm i vj-abishek/react-infinite-scroll-component#mobile`

The issue is, when we use `flexDirection: 'column-reverse'` . The scroll bar is set to the bottom. In desktop the `scrollTop` ends with 0 if it reaches the bottom. But it mobile `scrollTop` behaves oppositely

[2021-02-21 16:30] khoibv commented on #226
I got same problem. In my case, i found that if `dataLength` is changed after each loading then i can load more data
Example:
Not load: `dataLength={totalNumberOfRecords}` // never change
Load more: `dataLength={currentNumberOfRecords}` // change after each load

[2021-02-22 21:27] tigerblue77 commented on #140
Why close ? This issue is still present in strict mode... How to fix it ?

[2021-02-23 12:31] fridaystreet commented on #204
also facing this problem, our rows don't have a fixed height per row, it's a chat feed. Really need a way to just pass in the index number of the item in the array we want it scrolled to. ie first unread message might be item 10 in an array of 50, where the remaining 40 are after item 10 (it's in reverse mode).

so we don't want the message list to just appear scrolled to the bottom, we want it to

[2021-02-23 13:54] Sa-meer commented on #166
This should be mentioned in the **documentation** as well, I was having the same issue and came across this issue and it is fixed now as I handled the dataLength prop properly.

[2021-02-24 19:12] adambookout commented on #230
I've just found a great workaround for this. Here's a small example taken from my working code. Note that this is an example using inverse scrolling (a chat app).

- chatScrollDiv is a useRef'd div (also the "scrollableDiv")
- loadMoreMessages is an action creator (updates the store with more elements for the InfiniteScroll) which returns a promise on completion. Before I used the promise, it work

[2021-02-27 03:45] ali-78 commented on #140
It has trouble. It didn't fix. What should I do?

[2021-02-28 04:01] Comediant24 commented on #140
I agree! The problem is not solved!

[2021-02-28 09:06] steinroe commented on #203
Same problem here

[2021-02-28 18:11] leeren commented on #171
Has anyone figured out a reasonable solution to this?

[2021-02-28 21:51] KeitelDOG commented on #215
Can't get `next()` to fire. I made infinite scroll it work with 2 virtualization lists, 1 normal list. But this one seems to never call the next function. Don't know why yet. Whereas it display endMessage at the bottom when setting `hasMore={false}`.

[2021-02-28 22:16] KeitelDOG commented on #215
I got it to work, use parent scrollable div. Maybe the ancestors containers has been in conflict with the scrolling calculations, because one of them had overflow auto already. But using a direct parent did it.

[2021-03-05 18:07] jmom14 commented on #253
i had the same problem, i had to change to js file again until there's a solution

[2021-03-06 07:23] hodev-dev commented on #203
i hope it get fix because its really good library. but project manager wont let push until error get fixed

[2021-03-06 07:26] hodev-dev commented on #246
it got fixed thank you,
 the problem was typescript
i used wrong interface
you can close it now

[2021-03-06 07:26] #246 closed

[2021-03-11 02:17] Doedelpumpe opened #260 "infinite fetchMoreData"
I have a useState object array which i want to map with infinite scroll. I tried to slice 30 elements into another array and map it. works. But my fetchMoreData is running from the beginning and does not stop. Feels like the code does not get the info if the user hits the last element in the array.
I am trying to run the InfiniteScroll inside a Function component not a class component. Not sure if

[2021-03-11 13:46] ankeetmaini commented on #260
Would you be able to give a repro, I'm afraid I don't understand your
usecase

On Thu, 11 Mar, 2021, 7:47 am Doedelpumpe, ***@***.***> wrote:

[2021-03-11 15:02] Doedelpumpe commented on #260
Of course i can give u a code snippet:
[code]

there might be some generel mistakes because i was testing a lot due to the infinite fetchMoreData-issue.

[2021-03-11 17:26] dieudonneAwa commented on #260
I am facing a similar issue. I'm using it to infinitely fetch data from an API when scrolling down a page. However, it shows an infinite loading when the content of the first pagination are already in the viewport.

I expect it to fetch more data if the first set of the data is visible already. I expect it to continue fetching as long as it will be visible to the user.

[2021-03-11 17:34] Doedelpumpe commented on #260
I thought it might have a conflict to my CSS but i took all styling out and it still hit the fetchMoreData-Function while i load the page and stay on the upper most top of the page in a infinite way. I had a look at the InfiniteScroll-code and as i understand it, the "next" call should be done once when the bottom of the page is hit.
Tested it in firefox and chrome.

[2021-03-11 17:40] ankeetmaini commented on #260
@Doedelpumpe you've to pass a function to `next`, instead you're calling the function which is not correct.

[code]

Please try this

[2021-03-11 18:01] Doedelpumpe commented on #260
@ankeetmaini Thanks ankeet. Seems to work now :-) massive thumbs up!

[2021-03-11 18:12] #260 closed

[2021-03-12 14:19] mislavmiocevic commented on #29
@igorarkhipenko

Maybe this example will help you.
It was based by callback ref:
https://reactjs.org/docs/hooks-faq.html#how-can-i-measure-a-dom-node

[code]

[2021-03-12 23:46] gabe2code-opstalent commented on #215
I had the same problem and I solved passing a different key (basically remount the component) when I need the component fires the next event again. I hope that helps

[2021-03-13 12:09] newway-cnp opened #261 "Is there any real example with real API or you guys just use this component only for generate data?"
How do you use this component you guys? Every example that I find just show the how you generate data while you are scrolling.

Did you use this component for real world scenarios before?

Did you implement this component with hook and context?

How do you make API call? How do you increase page number while you send request for next page?

[2021-03-16 13:58] MatzeKitt commented on #261
I’ve just used it. However, I’m relatively new to React so it might not the best example, but it’s working. Summarized I render an image container for every data set I get via API:

[code]

[2021-03-19 11:46] tomasz-grzesik commented on #232
@JilMuriel Have you solve the problem?

[2021-03-19 14:04] mfreville commented on #118
I have this error too when I want scroll bottom with a fixed height on InfiniteScroll props.

[2021-03-23 22:22] GuiSelair commented on #203
Same problem

[2021-03-26 03:02] 3lang3 commented on #247
Consider adding virtualization options?

[2021-03-30 08:14] markoromandic commented on #203
Any news, when can we expect this to be resolved?

[2021-04-01 01:47] paperfella-ceo commented on #232
Same problem

[2021-04-03 17:44] phoenixbeats01 opened #264 "Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code"
index.js:1 Warning: Using UNSAFE_componentWillReceiveProps in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedState

[2021-04-03 19:23] abdelhamid1A commented on #203
it work with me :)
remove React.StrictMode from index.js
replace:
<React.StrictMode>
    <App />
  </React.StrictMode>,

-----------------------------------------

<>
    <App />
  </>,

[2021-04-05 14:12] JilMuriel commented on #232
@tomasz-grzesik  I was not able to solve It

[2021-04-06 11:23] markoromandic commented on #264
https://github.com/ankeetmaini/react-infinite-scroll-component/issues/203

[2021-04-06 11:25] markoromandic commented on #203
That is for sure not considerable approach...

Check this for more input: https://reactjs.org/docs/strict-mode.html

[2021-04-07 19:38] exapsy commented on #215
@gabe2code-opstalent Yeah it seems like it has something to do with rerendering. If you remove the key, you can reproduce that solution (with hot-reload) just by making a simple change (like adding a console log) so it rerenders. When it rerenders it loads the next page.

[2021-04-09 21:01] gabe2code-opstalent commented on #222
Hi @oriamd the error is on your side... you are saying explicit hasMore={true}, so, the fetch is executed when the scroll moves

![image](https://user-images.githubusercontent.com/78602956/114240206-295a8480-9955-11eb-906a-5714b75f0c84.png)

[2021-04-09 21:09] gabe2code-opstalent commented on #232
You should use min-height: 30 instead of height. That solved the problem on my side

[2021-04-09 21:14] gabe2code-opstalent commented on #247
I really like this library. I'm currently using it and I would like to contribute, how can I help?

[2021-04-09 21:18] gabe2code commented on #247
I really like this library. I'm currently using it and I would like to contribute, how can I help?

[2021-04-10 08:20] oriamd commented on #222
@gabe2code-opstalent this was taken from the Doc example just for the simulation.
I don't think next should be called on horizontal scroll, fetching more data should be executed on vertical scroll

[2021-04-10 14:44] #264 closed

[2021-04-11 23:14] mitchellbusby commented on #247
I think the biggest pitfall I've experienced using this library in production (about a year now) is this bug, which has made us write more imperative code on top of this component https://github.com/ankeetmaini/react-infinite-scroll-component/issues/217

Not sure whether it's possible to extend the API to actually build this in, but it would be my #1 pain point.

[2021-04-13 04:26] fox19960910 opened #265 "Scroll up is loading data !!!"
I'm having problems, if I scroll too fast to the bottom of the page then when scrolled "infinity scroll" trigger called "hasMore"

[2021-04-16 09:13] lynda0214 commented on #203
Same problem

[2021-04-19 09:41] hanrok commented on #223
Still have issues with the inverse scrolling, I copied the example from the main page of this repo and it doesn't work:
https://codesandbox.io/s/zealous-hellman-e6ug0

No trigger for fetching more items

[2021-04-22 16:45] AlaDouagi commented on #223
@hanrok you are using an old version of *react-infinite-scroll-component* (4.1.0) in **CodeSandbox example**, try to upgrade to latest version (it should work after that) :wink:

[2021-04-23 06:57] hanrok commented on #223
you are right.. shame on me.
Thanks!

[2021-04-23 16:39] OstapBO commented on #265
I faced the same issue.
@fox19960910 did you find a solution?

[2021-05-02 16:25] kishor82 opened #268 "any doc on how to use it with fullpage js?"
I am trying to implement it with fullpage js library but it's not working , any idea how can i achieve infinite scrolling with fullpage js ???

[2021-05-03 15:51] ahmdichsan commented on #165
failed and user continues to see the loading... message

Yes, that what happened right now. Is there any workaround/solution?

[2021-05-03 16:50] Morganb816 commented on #226
[Here](https://codesandbox.io/s/thirsty-joliot-ownnw?file=/src/App.js) is what im doing as a workaround.
It involves using a `useEffect` without a dependency array, but its the best way i could think of to fix this. if anyone else has a better idea i would love to hear it.
All i do is check every render if the `scrollHeight` is equal to the `offsetHeight` of the `scrollableTarget` provided to the

[2021-05-03 16:52] Morganb816 commented on #219
[workaround](https://github.com/ankeetmaini/react-infinite-scroll-component/issues/226#issuecomment-831389846)

[2021-05-06 14:43] panzerdp commented on #217
Unfortunately, I have the same issue.

A workaround that worked well is forcing Infinite Scroll to check the container height is to trigger a custom `scroll` event on the `window`.

First, define the hook that trigger scroll events when deps change:

[code]

Then invoke the hook inside the component that uses the infinite scroll:

[code]

[2021-05-13 14:50] YuryYaroshevich commented on #215
@gabe2code-opstalent Could you please explain what do you mean by passing different key? Do you mean `key="xx"` attribute on the element of the list?

[2021-05-14 16:54] girlslearningcodeyul opened #274 "hasMore is true, but loadMore only gets called twice"
Even if hasMore is set to true (to test this I have hard set it to always be true), loadMore function gets called only twice. Has anyone seen this type of issue before?

[code]

[2021-05-17 15:22] parsoman opened #275 "How to add scrollableTarget for shadowDOM element"
I am trying to pass node of type HTMLDivElement in scrollableTarget but it gives this error -  Uncaught TypeError: Cannot read property 'clientHeight' of null
As I am using webcomponent with shadowDOM, so I can not pass id of that divElement as you would never find it using document.getElementById . So is there any way to have this scrollableTarget for shadowDom too? Any help regarding this will b

[2021-05-18 09:40] MsSterh commented on #230
The problem is in returned order and `isLoading` variable. When you fetch next page, `isLoading = true` and return only 'Loading...' text from component so the data is not displaying at this moment that is why the height of the page does not contain scroll.

You can fix it by changing the order of the returning:

[code]
But in this case the loading and error messages will be displayed only once, s

[2021-05-18 09:45] MsSterh commented on #230
I had the same problem, but in my case the problem was in `autoFocus`. Input field contained auto focus that sent the scrollbar to the top after updating the data.

[2021-05-18 11:03] natheeshsunway opened #276 "Not compatible with IE 11"
This library not compitable with ie 11, While scrolling, methods are not called

[2021-05-18 11:52] RAMKUMARDANE commented on #274
same issue I am also facing but in my case lodemore is called only once
` <InfiniteScroll
              className={classes.InfiniteScrolls}
              dataLength={totalLength} //This is important field to render the next data
              next={fetchData}
              hasMore={items.length >= totalLength ? false : true}

[2021-05-20 17:48] talkl opened #277 "useSwrInfinite with react-infinite-scroll-component | after changing fetch key -> current index does not reset"
# Bug report

userSwrInfinite + react-infinite-scroll-component bug

## Description / Observed Behavior

I have react-infinite-scroll-component with useSwrInfinite integration. I also have an input to search by name the api. if i'm beyond page 1 and do a search (thus changing the useSwrInfinite key), useSwrInifinite will start searching serially all pages until the current page i am 1...N.
It's in

[2021-05-23 21:23] mikelehen commented on #274
I had the same issue. It turns out I was using `dataLength` wrong. I thought it was supposed to be the total length of items that _could_ be displayed, but instead it seems it should be the length of items that are currently displayed, i.e. in @RAMKUMARDANE's example above it should probably be `dataLength={items.length}`...

TBH I am not sure why the component needs `dataLength` given it uses `ha

[2021-05-24 16:53] girlslearningcodeyul commented on #274
hmmm, thank you @mikelehen . I tried setting `dataLength` to the number of items that a server is supposed to return (which is 20 in this case) and `hasMore` still only ran twice, even though to troubleshoot I hard-coded `hasMore` to true.

[2021-05-24 17:15] mikelehen commented on #274
@girlslearningcodeyul Ah, bummer. You may have a different issue than me then.  In my case I was setting `dataLength` to be a number much greater than the number of children elements I was rendering inside the `InfiniteScroll` tag and so I think it was essentially waiting for me to add the rest of the children elements (i.e. it thought I was still asynchronously fetching data or something).

I'm n

[2021-05-24 17:17] girlslearningcodeyul commented on #274
Correction! Thank you @mikelehen . I figured what it was, but not without your help. Looking at dataLength, the issue is, it has to to change, so moving it to the reducer and instead of adding up the number of items to render, substract from the total length count. Works like magic now!

[2021-05-24 17:19] girlslearningcodeyul commented on #274
for example, I have 48 items in total, the server returns 20 at a time. The first load `dataLength` must be 48, on second that value should change to 28 and then just 8.

[2021-05-24 17:24] mikelehen commented on #274
@girlslearningcodeyul Yay!  🎉   Glad it's working.

Strangely, I ended up doing something different.  If I had 48 items, then on first load, I'd set `dataLength` to 20, and then on second 40, and then 48 (with hasMore=false at that point).  Maybe it works both ways. 🤷

[2021-05-26 20:05] popsa85 commented on #277
Same issue

[2021-06-06 13:56] sychovSaveliy commented on #274
Hey, I also met it and fix for me:
set  to `dataLength` a current length of list (from state). It will a trigger for calling fetchMore.
I tried set total list of data - doesn't work.

[2021-06-09 04:57] RAMKUMARDANE commented on #274
// import InfiniteScroll from "react-infinite-scroll-component";
import InfiniteScroll from "react-infinite-scroller";

I changed liberary as suggested by another developer

[2021-06-13 19:13] yurykurouski commented on #265
Any ideas?

[2021-06-18 13:59] clytras commented on #276
@natheeshsunway why do you think such a library/component should have support for IE11 in 2021 ?

[2021-06-19 08:06] talkl commented on #277
@4ndv

can you help?

[2021-06-19 08:06] talkl commented on #277
doesn't work for me

[2021-06-20 00:10] natheeshsunway commented on #276
Still some clients need compaitablity of IE 11

[2021-06-20 12:55] talkl commented on #277
Made it work!

this is the solution:

https://github.com/vercel/swr/issues/1168#issuecomment-864490525

[2021-06-20 13:04] clytras commented on #276
@natheeshsunway so you believe that because people may still have **some** clients that deny or can't upgrade their browsers, maintainers should spend a significant amount of their time to make this library compatible with an obsolete browser and spend even more hours in the future to keep this support with every new feature they may add?

[2021-06-24 16:40] iamthe-Wraith commented on #276
@natheeshsunway you did the right thing. you reported a bug...regardless if people like @clytras (who isn't even a contributor, btw) think it should be resolved, you did exactly what you should do...report it and let the people actually doing the work decide if they will solve it or not.

[2021-06-25 14:43] clytras commented on #276
@iamthe-Wraith how this is being considered **a BUG**? Waiting for you to explain and maybe be more specific.

I have an old **Windows 2000** computer that sits on the basement and it has **Internet Explorer 6** installed... I will start requesting from people randomly to support IE 6 because hey, I'm still using it...

So before randomly replying to discussion’s **that you have nothing to add**,

[2021-06-25 15:24] iamthe-Wraith commented on #276
@clytras you are absolutely right. my appoligies for using the incorrect term. instead of **bug**, i should have said **request**.

As for the rest of your rant, you should know that I did **THINK** about what I wrote before posting it... I did exactly what I set out to do... To encourage someone who was given an unnecessarily passive aggressive response to their **request** to continue contributi

[2021-06-25 16:49] clytras commented on #276
@iamthe-Wraith apologies accepted. And I'm not ranting about it, I'm just defending my statements maybe using an acute way.

I'm not trying to be passive aggressive here. I never demanded the O/P author to close this nor attacked them on asking support for obsolete software, I'm just trying to make a statement and present the facts and the reality by asking the author some very valid questions in

[2021-06-26 01:25] natheeshsunway commented on #276
I think it's good to list the supported browser in home page/Readme and close this issue.

[2021-07-06 07:56] Nikneoberg opened #281 "inverse didn't work"
I've tried using inverse infinite scrolling, but it doesn't work. I checked an example from the documentation
https://codesandbox.io/s/boring-haze-4c49t?file=/src/index.js:922-935

[2021-07-07 15:51] tanhsnkt1997 commented on #230
can you help me example in codesandbox please ??

[2021-07-09 22:45] jp-olvera commented on #275
Maybe if you could provide the code you were working on we could figure out a way to solve it, in case you still have it

[2021-07-11 04:35] tejojr commented on #281
try with the latest version bro

[2021-07-16 15:51] lbssousa opened #282 "Set height automatically according to parent's available height"
I have an `InfiniteScroll` component inside a CSS Grid cell (typical layout: Header, Main, Aside and Footer), like in screenshot below:
![photo_2021-07-16_12-26-39](https://user-images.githubusercontent.com/1277917/125972869-62add76f-c01a-4672-8271-c7a36c0bc440.jpg)

I want to avoid vertical overflow of my grid, so I can still have my fixed footer while getting infinite scroll working. The only wa

[2021-07-20 15:49] hboylan commented on #197
This does not work for me when using non-zero spacing. The `InfiniteScroll` component cannot handle the negative margin.
[code]

[2021-07-20 15:55] hboylan commented on #197
Looks like the `InfiniteScroll` container uses `overflow: 'scroll'`. To account for the Grid's negative margin, I override this default with the style prop:
[code]

[2021-07-21 14:42] ryan-Church commented on #281
bumping the version in the sandbox does not work

[2021-07-21 15:20] ryan-Church commented on #281
Although the loading message is only being loaded at the bottom, so you do have to include ` style={{ display: 'flex', flexDirection: 'column-reverse' }} //To put endMessage and loader to the top.`

[2021-07-21 16:09] ryan-Church commented on #281
I finally got it to work.  THe parent scrollableTarget that it is listening to needs to be included and have the same inverse styles.  Took a lot of refreshes to get to work tho

[2021-07-21 17:11] Nikneoberg commented on #281
@ryan-Church, thank you.

[2021-07-23 00:48] coolcomfort opened #283 "Immediately scrolling down upon page load does not trigger fetch more"
I am using chrome, and when experimenting with infinite-scroll, I noticed that if one quickly scrolls to the bottom of a page, while refreshing, the page will start at the lowest scrollable point (using Chrome). When attempting this with infinite-scroll, I notice that infinite-scroll fails to fetch more, despite being at the lowest scrollable point when it should. This more than likely has to do w

[2021-07-23 12:23] Sooraj-s-98 commented on #283
me also  facing same issue @coolcomfort

[2021-07-23 12:52] coolcomfort commented on #283
I actually managed to find the solution, and it is not an issue with react-infinite-scroll. I will try to explain what happened. If you notice in the examples provided, this issue does not happen (https://codesandbox.io/s/yk7637p62z). To replicate it best, I recommend copying this over to a blank project and looking for yourself, as it is impossible to start at the lowest scrollable point in codes

[2021-07-23 12:52] #283 closed

[2021-07-23 13:50] Sooraj-s-98 commented on #265
`  <InfiniteScroll
      dataLength={page * 10}
      pullDownToRefreshThreshold={50}
      next={loadMoreConversation}
      scrollableTarget="scrollableDiv"
      hasMore={true}
      loader={<h4>Loading...</h4>}

      <ChatItemList
        chatItems={chatItems}
      />
    </InfiniteScroll>`

use  pullDownToRefreshThreshold={50}. i used this method.  page is the length of content

[2021-07-27 15:27] aakin03 commented on #62
Hi, I know this issue has been closed, but are we still able to get a response?
I'm having a similar issue as many of those previously. I've set up InfinteScroll to wrap around a Table. InfinteScroll & Table are located inside of a TableContainer component. The TableContainer has an id which I used as the `scrollableTarget` in InfinteScroll. In my main page, my table scrolls as expected with more

[2021-07-28 06:59] daejinious opened #285 "Is it possible just loading on top"
Hi dear,
I have a question.
I want to just load data on top scroll except column reverse in infinite-scroll inverse mode.

thank you

[2021-07-29 01:23] #285 closed

[2021-07-29 10:49] akashpatil14298 commented on #89
Hey @ankeetmaini , I am interested in this issue.. If nobody is working on it, I would like to work on this..

[2021-08-01 14:52] Sooraj-s-98 commented on #283
what is  count -first @coolcomfort

[2021-08-01 21:27] confused-Techie commented on #197
+1 for this solution. Using Primer Components Box Grid worked with the above method.
[code]

[2021-08-01 22:44] charlieetran commented on #281
@ryan-Church is there a way to get the scroll to be inverted without putting the endMessage and loader at the top? I cannot get inverted to work with only having the scroll bar start at the bottom where new data should be coming in

[2021-08-03 04:01] akashpatil14298 commented on #71
Hey @ankeetmaini, I am interested in this issue. Can I grab it??

[2021-08-03 16:16] overdoz opened #286 "next won't be triggered, if there is no scrollbar"
Hey!
When i zoom out and the entire list is displayed, there is no way of loading more data. I think this is because no scrollevent can be detected. Is there an out-of-the-box solution for this issue?
Thanks!

[2021-08-03 17:09] ankeetmaini commented on #71
Please go ahead!

Sent from my iPhone

[2021-08-05 02:35] akashpatil14298 commented on #71
Hi @ankeetmaini ,
Please review the code below,
https://codesandbox.io/s/tender-yalow-oknoi?file=/src/App.js

This is my first time contributing on this site, so if I've made any errors please let me know.
I'll be glad to correct them.

[2021-08-05 11:50] cahbb commented on #286
Got the same issue. I'm loading a list of rows but if the list does not overflow the window bottom edge it does not load any data.

![image](https://user-images.githubusercontent.com/14180824/128344575-2bd883c3-2422-4b8d-b3a2-e5301f6e80b3.png)

[code]

[2021-08-05 20:18] jacten commented on #217
@panzerdp It seems this solution triggers infinite scroll to query for more results on load regardless of if the scroll bar is showing.

Correct solution should only trigger if there is no scrollable area. Otherwise might as well just increase the initial query amount (except in cases where that is not possible).

[2021-08-06 09:51] JFernandoGomez commented on #274
this should be updated in the documentation, fixed as the comment above

[2021-08-19 21:06] nwaxiomatic commented on #286
same problem

[2021-08-19 21:07] nwaxiomatic commented on #217
same problem

[2021-08-20 10:37] mattvb91 commented on #208
Has anyone managed to get this working?

[2021-08-21 03:39] bryantobing12 commented on #286
i think at that case if your data container height is fixed you can set the height and scrollable target. but for many cases just increase the data limit until it reach more than window height

[2021-08-22 17:59] jmbldwn commented on #282
Perhaps this component should inherit display, flexDirection, flexGrow so it doesn't assume it's own layout?

[2021-08-31 10:53] abdoutech93 opened #290 "Too many re-renders. React limits the number of renders to prevent an infinite loop."
The Next callback function :
`
const fetchMoreData = () => {
        setTimeout(
        setRefresh(refresh+1),1000)
      };
`
Exception call stack :
`react-dom.development.js:14997 Uncaught Error: Too many re-renders. React limits the number of renders to prevent an infinite loop.
    at renderWithHooks (react-dom.development.js:14997)
    at mountIndeterminateComponent (react-dom.development.js

[2021-08-31 11:34] #290 closed

[2021-09-03 06:48] jshulk commented on #265
Facing the same issue, even pullDownToRefresh={false} doesn't work

[2021-09-03 20:41] baj84 commented on #281
@ryan-Church can you explain your solution or give an example? I'm struggling to get it working

[2021-09-04 08:58] Sooraj-s-98 commented on #265
`
import axios from 'axios';
import { useEffect, useState, useRef } from 'react';

const TOTAL_PAGES = 3;

const App = () => {
	const [loading, setLoading] = useState(true);
	const [allUsers, setAllUsers] = useState([]);
	const [pageNum, setPageNum] = useState(1);
	const [element, setElement] = useState(null);

	const observer = useRef(
		new IntersectionObserver(
			(entries) => {
				const first

[2021-09-04 08:59] Sooraj-s-98 commented on #265
`import axios from 'axios';
import { useEffect, useState, useRef } from 'react';

const TOTAL_PAGES = 3;

const App = () => {
	const [loading, setLoading] = useState(true);
	const [allUsers, setAllUsers] = useState([]);
	const [pageNum, setPageNum] = useState(1);
	const [element, setElement] = useState(null);

	const observer = useRef(
		new IntersectionObserver(
			(entries) => {
				const first

[2021-09-04 09:00] Sooraj-s-98 commented on #265
It is better than this package

[2021-09-05 07:02] Sooraj-s-98 commented on #265
Use this @OstapBO

[2021-09-06 02:44] JYC-99 opened #292 "Feature ask: do not block client scrolling"
Expected behavior: when user scrolling down, we do not want to block the scrolling. Let the component renders box frames, wait for the async data fetching and backfill those placeholders.
Is that doable in current version?

[2021-09-06 13:56] ryan-Church commented on #281
[code]

[2021-09-08 21:10] stevesizer commented on #281
I still cant get this to work.

https://codesandbox.io/s/silly-glitter-iszzh?file=/src/index.js

anyone see whats wrong with the above?

[2021-09-10 12:41] rossignolli opened #293 "Functions are not valid as a React child"
Lib is working great, but i'am getting this error on console:

`Functions are not valid as a React child. This may happen if you return a Component instead of <Component /> from render. Or maybe you meant to call this function rather than return it.
`

Does anyone know how to getting rid of this error?

Using:

"next": "^11.0.0",
 "react": "^17.0.2",
  "styled-components": "^5.3.0",

[2021-09-12 23:02] MarcusOy commented on #218
I was getting the same problem, but it seems like this behavior was patched between `5.1.0` and 6.1.0` as I've recently upgraded between these two versions and that bug seemed to go away. Unrelated, but `rm -rf node_modules/` then `yarn` helped to get rid of older, broken version.

[2021-09-14 14:48] strawberry3269 commented on #107
I got the same issue

[2021-09-14 14:58] strawberry3269 opened #294 "hasMore is false, service return the data = [] ， so"
<InfiniteScroll
        hasMore={queryParams.hasMore}
        dataLength={productList.length}
/>
hasMore is false, service return the data = [] ， so
the len of productList not change, thus , refresh function not working

[2021-09-14 15:23] DonAyers commented on #282
@jmbldwn - can you expand on this perhaps with some code? I am struggling with the same issue. Just can't get fetching to work properly without explicitly setting the height of the parent div.

[2021-09-14 17:54] jmbldwn commented on #282
I decided to use the material-ui data grid instead, but looking at this, it looks like the outer div has a class name, which could use used to give it some css love to inherit height from it's parent:
[code]

[2021-09-17 08:56] vladagurets commented on #162
Any updates?

[2021-09-18 06:05] ankeetmaini commented on #162
This was done a long back so that the users can supply what they want to show while loading. Some text or custom spinner component.

[2021-09-18 06:05] #162 closed

[2021-09-20 07:59] benmneb commented on #180
This prop is essential!

[2021-09-20 17:36] sourabkapoor commented on #286
Had this similar issue. Used a workaround for this problem by checking scrollbar visibility.
[code]
And then fetch next data on this condition. Hope it helps.

[2021-09-23 10:23] mattvb91 commented on #208
@osmarpb97 @sulaiman1073 @mrtheyann  @FadiAboMsalam @blainelawson I apologise about the ping just wondering if and how ye managed to tackle this?

[2021-09-23 16:02] blainelawson commented on #208
@mattvb91 I did not, I ended up having to abandon this option. Can't remember what I did instead, but it's probably not relevant anyway.

[2021-09-23 23:57] sepehr500 commented on #217
same problem

[2021-09-24 01:02] sepehr500 commented on #217
Here is my jank solution (useInterval is from react-use)

[code]

[2021-09-25 10:10] edutilos6666 commented on #281
Change version from 4.1.0 to 5.1.0.

[2021-09-25 11:35] 5head-charles opened #297 "scrollThreshold while zoom out"
I want to scroll all the way down to load more content and I set scrollThreshold={1} but it will stop after load some of the data while I zoom out a bit (80%). I works fine when I removed the threshold prop.

[2021-10-04 11:09] shivika24 opened #298 "Images getting overlaped when scrolling in Mac Safari."
In case of safari, when i scroll the images are getting overlaped, can be seen in the GIF attached, working fine in case of Chrome, Firefox
![SafaroScrollissue](https://user-images.githubusercontent.com/43493690/135841080-92eb174a-f831-472a-bf15-52376baee7bc.gif)

[2021-10-05 07:54] kafinsalim opened #299 "Question: is it possible to use this library with horizontal scrolling?"
I use this library for infinite scrolling with vertical scrolling, which is quite common. I try to skim documentation and modify CSS but haven't found a solution. is it possible to have the scrolling horizontal?

[2021-10-05 19:58] mouhsinelonly commented on #253
Is there any fix for this without switching to js file ?

[2021-10-09 07:01] MaxiFilippov opened #301 "Infinite scroll in both ways simultaneously?"
How to make infinite scroll in both ways (top and bottom) at the same time? ex: When I reach top it loads data at top, when I reach bottom it loads data at bottom

[2021-10-14 02:14] DanielBailey-web commented on #242
Mine works on mobile (emulated and android) but is breaking specifically on iOS devices... (both chrome and safari)

Unlike with your problem I am not using reverse.

[2021-10-20 15:04] clayerton opened #302 "When the scroll bar slides to the bottom hasMore = true ,next don't trigger"
![image](https://user-images.githubusercontent.com/64089643/138119267-749d4345-79cc-447a-b6e2-174f510a496c.png)

[2021-10-23 12:32] Abdul-aziz-shuvo opened #303 "scroll not working in mobile browser"
working on desktop fine..but not working in mobile browser

[2021-10-28 07:42] shantanu543 opened #304 "Next calling issue on antd table."
After first call of next function, it is not being called on antd table. Can anyone help me out with it or anyone faced similar issue.

[2021-10-30 04:04] tobiaskatch opened #305 "Drop previously fetched data possible?"
Hello, I am looking for an infinite scrolling solution. In your code it seems like all loaded elements are concated to your existing state data array. Did you think about dropping the previous data? (recycler view) Is this possible using your code?

Kind regards.

[2021-11-02 10:45] plamenh commented on #304
I have a similar issue. First call and then only shows Loader without issuing a network call.

[2021-11-04 11:26] yasir-rafiq opened #306 "Scroll move back to top on loadmore data"
<InfiniteScroll
                  height={'800px'}
                  dataLength={this.props.items.length}
                  next={this.fetchMoreData}
                  hasMore={true}
                  loader={<></>}

                  {this.props.items.map((item, index) =>
                      {
                        if((_this.props.filters.favourite == 1 && item.favourite == 1)

[2021-11-04 17:36] Erwan2005 opened #307 "React infinite scroll next has called only once"
I'm training to develop my little app with react, and I'm stuck in infinite scrolling I'm using react infinite scroll components, it calls the fetchmoredata function but just once, how to fix this kind of problem with my code below

`import React, {Fragment} from 'react'
import { Card,CardHeader,CardActionArea,
        CardMedia,CardContent, Typography,
        CardActions,withStyles,
        Avat

[2021-11-04 18:57] EricHasegawa opened #308 "New items are not loading/list isn't re-rendering when scrolled to bottom"
I feel like I am missing something obvious - I am setting this up in a functional component, but when I scroll to the bottom, no new data loads. I can see fetchMore is being called, and itemCards is growing (I checked length before and after the fetchMore call), but no new data is displayed. What am I missing here? Attaching the code below.

`export default function Catalog({ search_query }) {

[2021-11-05 12:43] BenDLH commented on #308
You need `itemCards` wrapped in `useState()`, no? Otherwise no re-render will be triggered.

[2021-11-05 14:04] EricHasegawa commented on #308
So do the items in your list need to be a state variable? Mine are just a standard variable

[2021-11-05 14:16] BenDLH commented on #308
Yes

[2021-11-05 15:03] EricHasegawa commented on #308
Thanks so much! Working with functional components I didn't get this. Cheers!

[2021-11-05 15:03] #308 closed

[2021-11-07 12:57] Mujaddadi commented on #307
Yes same issue

[2021-11-07 12:59] Mujaddadi commented on #304
Same issue as well. Next function is only called once

[2021-11-08 07:29] plamenh commented on #304
I solved it and I think it had to do with the dataLength attribute. I thought this was supposed to be the total number of loadable elements, and it actually should be the total number of **loaded** elements (not loadable). I hope this helps you.

[2021-11-09 04:17] utiq commented on #306
@yasir-rafiq I'm having the same issue, how did you solve it?

[2021-11-09 05:17] utiq commented on #308
@EricHasegawa can you post how did you end up doing it?

[2021-11-09 16:46] EricHasegawa commented on #308
For sure - basically, `var [items, updateItems] = useState(browseData)` where items is the items in the list. And when you have your fetching function - `updateItems(items.concat(itemCards2))` where the bracketed part of updateItems updates your items variable.

[2021-11-09 18:54] Mujaddadi commented on #304
Thank you. That was it.

[2021-11-09 19:05] msft-guy commented on #253
Any resolution for this bug ?

[2021-11-11 01:45] hewilliam commented on #305
i second this. i have rendered thousands of DOM elements and its becoming slower and slower. is it possible to only show the dom elements into view

[2021-11-11 13:18] Oleven opened #309 "Bug Report - Infinite scroll not working when height isn't enough to scroll."
I found an issue while using this component in a React app and was able to reproduce it in one of the available examples of the documentation.
The whole functionality of this module is triggered only when scroll is made at least once. If a scroll isn't made, data isn't loaded at all.

If you go to one of the codesandbox URLs available as an example (https://codesandbox.io/s/r7rp40n0zm) and change

[2021-11-11 21:10] nganbread commented on #309
+1

[2021-11-12 11:25] fredericoo commented on #305
This is not the point of this library. If you wanna combo it with some other tools that do this you can do it freely; I'd recommend https://www.npmjs.com/package/react-recycled-list

[2021-11-15 08:38] wx9999 commented on #302
你好 请问解决了嘛

[2021-11-15 20:48] benkenawell commented on #309
You might want to check out Issue #286, this one looks like it might be the same.

I'm here cause I'm actually having the same issue.

[2021-11-16 19:05] skvlakov commented on #66
Please, can be it used with "table" "position: sticky" ?

[2021-11-17 05:53] KunwarVSuryavanshi commented on #309
But why would you implement  infinite scroll component if your component is not even taking whole page or have scrollable component.

And if you want to limit the scroll upto certain height you can add 1 useffect inside that component for initial render calling fetchMore.

Or

If you don't want to do that then you can pass height props and then it would call fetch again.

[2021-11-17 08:17] Oleven commented on #309
Fact is: I could need a responsive layout and in such situations you never know the exact height of the component on which you'll apply the infinite scroll.

In my exact situation I have ~10 infinite scrolls in a single view as we have many different info to show and having to put a trick isn't a thing I'd like to do. And in this exact scenario calling a "fetchMore" on 10 different components just

[2021-11-17 17:13] ZaidAli5430 opened #310 "Top scroll example not working."
I have tried running this example in the sandbox and in my project but it doesn't work
[code]

[2021-11-22 15:15] dohoangtung commented on #274
You've saved my day!

[2021-11-30 05:14] choijiho0021 commented on #281
@same issue

[2021-12-02 13:41] erkid-24nettbutikk commented on #154
I agree. this would be really useful.

[2021-12-04 04:09] developdeez opened #311 "Infinite scroll not working deep within component tree"
Hello all

Im trying to implement it on a page that will be similar to FB’s feed.
The top <header> is disconnected from the <main>.
The <main> is scrollable, but the component deep within the tree is what fetches more.

I’ve tried adding an id to main and adding it to the Infinite Load, but no luck.

I’ve attached what I have for reference. And have seen the demo.

Any ideas?
<img width="1271" alt

[2021-12-04 04:16] developdeez commented on #311
Its also inside of a router
<img width="670" alt="image" src="https://user-images.githubusercontent.com/13059525/144696632-a5d34437-d459-4b91-85ff-f9b82b66d04c.png">

[2021-12-07 03:39] maitrungduc1410 commented on #307
same issue

[2021-12-09 23:09] developdeez commented on #311
bump

[2021-12-10 09:38] duke7able commented on #310
working example :
inverse infinite scroll here
https://codesandbox.io/s/youthful-kapitsa-nlv1j

[2021-12-10 09:38] duke7able commented on #281
working example :
inverse infinite scroll here
https://codesandbox.io/s/youthful-kapitsa-nlv1j

[2021-12-10 12:26] #310 closed

[2021-12-11 15:12] v1talii-dev commented on #304
I faced the same problem only in modal window (antd). When the modal is shown, the next method does not work, and only the component is visually displayed in the loader. No problems with items. Has anyone encountered this behavior?

[2021-12-11 16:12] v1talii-dev commented on #183
`next` function not work in modal dialog...

[2021-12-12 13:51] bapangit opened #312 "not loading more after connected to the internet again"
not loading more after getting connected again

[2021-12-19 13:52] Mujaddadi commented on #307
I am using a different infinite scroll component now https://github.com/danbovey/react-infinite-scroller. That seems to be working fine.  In my case `DOM scroll events` code is working

[2021-12-19 20:24] Johnrobmiller opened #313 "Warning in console: "Function components cannot be given refs"."
I'm trying to use the infinite scroller component, but the console is giving me a warning about a mishandled ref which is apparently located within this library.  I'm unsure what I can do on my end to fix this, or whether this mishandled ref will cause any sneaky/hard to find problems or bugs.

Here's the error message in full:

[code]

...and here's the unedited, raw code which created the warnin

[2021-12-19 22:58] #313 closed

[2021-12-19 22:58] Johnrobmiller commented on #313
False alarm -- the error was caused by something else, not this library.

[2021-12-20 13:25] PabloReszczynski commented on #306
I think this has to do with the item list being passed as prop instead of an internal state. Hopefully the devs will se this.

[2021-12-21 23:36] mariusc23 commented on #309
We just ran into this today. @ankeetmaini is there any plan to fix it? Would you accept a PR for this (if yes, do you have some pointers where to start)? Thanks!

[2021-12-22 15:54] Enase commented on #309
I have the same troubles and use this huck as a temporary solution:
[code]

[2021-12-23 11:01] j3ski opened #314 "Cannot read property clientHeight of null when using height inside of a shadowRoot"
Hello.

I'm trying to use this library inside of a component contained in a shadow root. Once I add the `height` prop I start getting this error when scrolling.

Here is the minimal reproducible example: https://codesandbox.io/s/small-sun-c5n0i?file=/src/App.js.

And here's the code

[code]

It seems that the scroll event can be triggered with a null target in this case, but I don't know exactly w

[2021-12-26 23:41] doanhtu07 commented on #50
For now, my solution is to have a CSS file. Something like below works:

**// Example.css**
[code]

Then you just import this file to your component file. Hope it helps.

[2021-12-27 11:11] dshacham opened #315 "next being triggered again if I scroll fast"
I went over all the issues here and I couldn't find a clear solution. I'm using a function component with hooks, if it matters.
When I scroll down in a "normal" pace, everything is fine. But if I scroll down fast, next is fired again and I get duplicates.

[2021-12-28 10:34] siminn-bjorks opened #316 "How to style the scrollbar"
Hi, i'm having trouble trying to style the scrollbar. I have tried styling it with webkit in the style props but it does not work.
Any ideas on how to do this?

Thank you.

[2021-12-28 14:46] ankeetmaini commented on #315
It might depend on your scroll threshold. It shouldn't happen ideally as I keep track of a condition and lock it unless new props aren't flowing https://github.com/ankeetmaini/react-infinite-scroll-component/blob/d5b4e5250669022db5217763afd22fb3995a505a/src/index.tsx#L146

[2021-12-28 15:19] dshacham commented on #315
I'm not sure I know what you mean by that. I don't think I changed anything with the scroll threshold since I don't even know what it is...

[2021-12-31 02:33] tobiaskatch commented on #316
I have the same question. i tried to apply following style (which normally works):

.scroll-style {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scroll-style::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

But it does not work

[2021-12-31 02:46] tobiaskatch opened #317 "Hide scroll bar but allow scrolling?"
Hello,

is there a way to allow scolling while hiding the scroll bar? I tried applying the standard styles for hiding scroll bar (which works with any other scroll component):

.scroll-style {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.scroll-style::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

But this does not work fo

[2022-01-01 16:03] aliazizi commented on #315
I have same issue, if you go fast at bottom of scroll it keep loading next page and stay at bottom

[2022-01-04 11:19] AGSTRANGER commented on #6
Is there a way to make the height equal to the parent element?

[2022-01-10 07:31] syntaxc commented on #315
Same issue here.
If I scroll to the bottom, it will start loading new data and not stop.
It seems to continually scroll the current location to the bottom, and inadvertently loading more data.
![infintate-infinate-scroll](https://user-images.githubusercontent.com/1195111/148730598-4ff772dd-fad7-4ec2-86e1-85cec781972c.gif)

[code]

[2022-01-11 23:53] devjs1000 commented on #317
### you can use this to help

1. set the property to initial `all:initial;` in scroll bar
2. don't forget to use force apply use `!important` in the css for overriding
3. Now you can style scroll bar as your wish

[2022-01-12 09:35] Smitgamit commented on #316
Please try it ,work for me

.infinite-scroll-component {
background-color: #ffff;
scrollbar-color: rgba(0, 0, 0, 0.2) #ffff;
scrollbar-face-color:rgba(0, 0, 0, 0.2);
}
.infinite-scroll-component::-webkit-scrollbar {
  width: 7px!important;
}
/* Track */
.infinite-scroll-component::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
/* Handle */
.infinite-scroll-component::-webkit-scrollb

[2022-01-13 06:06] Smitgamit commented on #316
You can add in CSS file .., work for me
And change CSS style as per your requirements

[2022-01-13 14:24] siminn-bjorks commented on #316
Thank you! it works :)

[2022-01-16 03:25] zhangwei900808 commented on #307
same issue and I set  ```scrollableTarget="scrollableDiv"``` in div id=scrollableDiv its worked!
[code]

[2022-01-17 05:29] Smitgamit commented on #306
solved! use InfiniteScroll component as parent Div

[2022-01-18 14:24] danielittlewood0 opened #319 "Changing the hasMore prop without loading data will not change the component"
Hi, thanks for maintaining this project - it has allowed us to consider implementing infinite scroll when we would not have otherwise :smile:

I'm having some trouble. In our app, the definition of "reaching the end of the feed" is "making a request which returns an empty payload". We don't have a special param which indicates that the last page was served. Therefore, we make a request, find no da

[2022-01-19 17:13] NamJiwony778 commented on #23
I could hide scroll but keep functionality only combining inline styles and css file. It doesn't work only with css file.
<div
        id="scrollableDiv"
        className={styles.scrollbarContainer}
        style={{
          height: 400,
          width: '100%',
          overflow: 'auto',
          scrollbarWidth: 'none', // hide for Firefox
        }}>
        <InfiniteScroll
          dataLen

[2022-01-22 18:31] idowald opened #320 "Support HTML tables"
Many times developers want to present big data, and the most comfortable/accessible way would be using table tags.
The problem with this solution that it impose using <div> as an entity and then you can't use <tr> for each row.
How to solve it? add a prop "HtmlTag" that accept tr/span/... and the developer can pick his HTML tag.

[2022-01-25 16:54] dsbrianwebster commented on #320
@idowald yes. This 💯

[2022-01-28 03:28] EugeneFoo commented on #307
same issue, only load first page and second page, then it will not loading third page onwards

[2022-01-28 09:27] laurexas opened #321 "when using inverse scrolling text selection misbehaves"
if you want to inverse scroll and add following line to your code: style={{ display: 'flex', flexDirection: 'column-reverse' }} it triggers to misbehave text selection, example can be seen here: https://codesandbox.io/s/crazy-jepsen-kjt0m?file=/src/index.js

Steps to reproduce:

1.open link https://codesandbox.io/s/crazy-jepsen-kjt0m?file=/src/index.js
2. try to select multiple lines with mouse co

[2022-01-31 19:02] aviram-s opened #322 "Inverse scroller - loader is not visible on top"
When scrolling up (Inverse) to the top, I expect to see the loader component on top of the page until the new data is loaded.
Instead, the scroller is adding the loader component as a new item at the top, but the scroller stays at the same position so the user needs to scroll up a touch to see the loader component.
Any ideas how to fix it?
![image](https://user-images.githubusercontent.com/8554477

[2022-02-01 16:10] aviram-s commented on #322
Manage to work around this issue although I'm sure there are better ways to do it:
1. Make a ref object and assign it to the scroller container div.
2. pass the ref object to the loader component.
3. useEffect/component is mounted and set the scrollTop to the scrollHeight * -1:
4. `scrollerContainer.current.scrollTop = scrollerContainer.current.scrollHeight * -1`

I'm leaving this issue open incas

[2022-02-02 08:00] Faey2222 commented on #315
I can confirm this issue. Actually you don't even have to scroll that fast for this to happen if the threshold isn't modified.

In my certain case the method fired by `next` is a async call to a server. The request gets fired twice.
If I change the method called by  `next` to a simple `console.log` it also is shown twice within the console.

[2022-02-02 13:57] nardocesar commented on #274
You made my day man! If you feel comfortable send me your BTC wallet address. Would be a pleasure to me to buy you a coffee ☕️

[2022-02-06 16:15] binayachaudari commented on #321
Seems like it's the default behavior of `flex-direction: row-reverse` and `flex-direction: column-reverse`.

[2022-02-07 16:00] mikelehen commented on #274
@nardocesar Hah, glad it helped but no need to buy me coffee!  Feel free to send that goodwill towards somebody else you run across who could use it.  Have a great day!

[2022-02-13 00:47] fomson commented on #320
A potential workaround:

From [docs](https://www.npmjs.com/package/react-infinite-scroll-component): "The InfiniteScroll component can be used in three ways.
Specify a value for the height prop if you want your scrollable content to have a specific **height**, providing scrollbars for scrolling your content and fetching more data.
..."

Adding the `height` prop <InfiniteScroll> and then placing th

[2022-02-14 05:15] jees47 opened #324 "loader still shows if no empty array returned from api"
the loader  still showing eventhough the api returns empty array. is there any props to show "No Items Found" message when api returns empty array?

[2022-02-15 11:21] sabaseyfi commented on #297
scrollThreshold={0.5}

[2022-02-18 19:48] Nickk4 opened #326 "How to set the width of the scrollbar?"
I have a `react-infinite-scroll-component` in combination with `react-custom-scrollbars`. The code below works for me.
However, I would like to set a different **width** for the scrollbar. Is this possible?

[code]

ScrollingContainer component:

[code]

And in CSS:

[code]

[2022-02-22 18:06] sadeghipour commented on #274
I checked dataLength and also hasMore but I figured that it makes twice call if your page height changes in my case!
so if you have a similar problem it's better to set min-height to list container.

[2022-02-25 15:58] orahul1 commented on #307
any solution ?

[2022-02-25 18:45] Tamy67 commented on #315
Hello, I have the same problem. Did you find the solution?

[2022-02-27 12:44] orahul1 commented on #307
https://github.com/ankeetmaini/react-infinite-scroll-component/issues/274#issuecomment-846626389 this answer fixed my issue

[2022-02-28 09:45] Krknv commented on #181
You can try something like this:

[code]

[code]

[2022-02-28 20:28] dsbrianwebster commented on #320
@fomson that workaround seems to result in broken html for the table...

<img width="585" alt="image" src="https://user-images.githubusercontent.com/8154653/156053703-bd39f7bc-6862-4a8e-8fe7-2fc720e5e277.png">

I think there needs to be some work done to react-infinite-scroll-component to support tables

[2022-02-28 21:00] dsbrianwebster commented on #320
@fomson seems like putting the entire table inside is the cash money though!

https://codesandbox.io/s/react-table-infinite-scroll-h7v5q?file=/src/App.js

This may mean we can close this issue?

[2022-03-01 06:15] z-bai opened #328 "Why is dataLength important to fetching next data?"
Isn't hasMore sufficient for this?

[2022-03-01 07:06] #328 closed

[2022-03-04 00:38] isrmicha commented on #247
Please, make virtualization option

[2022-03-13 00:04] mertyldrr commented on #72
Thanks a lot, I was trying to understand where the problem is. A bit more explanatory text for dataLength would be good. It is hard to understand if it's total length of data or currently displayed data length (at least for me).